<header class="header header-admin">
	<div class="container header-container">
		<div class="row">
			<div class="col-sm-12 col-md-3">
			    <div class="header-logo">
			    	<img src="images/logo.svg">
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-5 col-md-offset-3">
			    <nav class="header-nav">
				    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
	    				<span></span>
		                <span></span>
		                <span></span>
		                <span></span>
		                <span></span>
		                <span></span>
	              	</a>
			    </nav>
			    <div class="header-title hidden-xs">My requests</div>
			
				<nav class="header-nav header-menu clearfix">
				   	<ul>
			    		<li class="active"><a href="#">my requests</a></li>
			    		<li><a href="#">creating store</a></li>
			    		<li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>
			    	</ul>
			    </nav>
			</div>
			<div class="col-sm-8 col-md-4 hidden-xs">
				<div class="header-profile">
					<div class="header-profile-name hidden-sm">
				   	 	<a href="#">Margaret Mead</a>
				   	</div>
				   	<div class="header-profile-userpic">
				   		<a href="#"><img src="images/userpic.png"></a>
				   	</div>
				   	<div class="header-profile-link">
				   		<a href="#"></a>
				   	</div>
			    </div>
			</div>
		</div>
	</div>
</header>
