<header class="header header-admin">
	<div class="container header-container">
		<div class="header-admin-logo">
		    <div class="header-logo">
		    	<img src="images/logo.svg">
		    </div>
		</div>
		<div class="header-admin-nav">
		    <nav class="header-nav">
			    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
    				<span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
              	</a>
		    </nav>
		    <div class="header-title">My requests</div>
		    <nav class="header-nav header-menu clearfix">
			   	<ul>
		    		<li class="active"><a href="#">products</a></li>
		    		<li><a href="#">portfolio</a></li>   
		    		<li><a href="#">risk management</a></li>
		    		<li><a href="#">user management</a></li>                
		    	</ul>
		    </nav>
		</div>
		<div class="hidden-xs header-admin-profile">
			<div class="header-profile">
				<div class="header-profile-name hidden-sm hidden-md">
			   	 	<a href="#">Margaret Mead</a>
			   	</div>
			   	<div class="header-profile-userpic">
			   		<a href="#"><img src="images/userpic.png"></a>
			   	</div>
			   	<div class="header-profile-link">
			   		<a href="#"></a>
			   	</div>
			   	<div class="profile-links">
					<ul>
						<li><a href="#">Account</a></li>
						<li><a href="#">Log-Out</a></li>
					</ul>
				</div>
		    </div>
		</div>
	</div>
</header>
