<header class="header header-admin">
	<div class="container header-container">
		<div class="header-admin-logo">
		    <div class="header-logo">
		    	<img src="images/logo.svg">
		    </div>
		</div>
		<div class="header-admin-nav">
		    <nav class="header-nav">
			    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
    				<span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
              	</a>
		    </nav>
		    <div class="header-title">My requests</div>
		    <nav class="header-nav header-menu clearfix">
				<ul>
		    		<li class="active"><a href="#">personal data</a></li>
		    		<li><a href="#">my policies</a></li>
		    		<li><a href="#">my claims</a></li>
		    		<li><a href="#">My circles</a></li>
		    		<li><a href="#">my referral</a></li>
		    		<li><a href="#">my invitations </a></li>
		    		<li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
		    	</ul>
		    </nav>
		</div>
		<div class="hidden-xs header-admin-profile">
			<div class="header-profile">
				<div class="header-profile-name hidden-sm hidden-md">
			   	 	<a href="#">Margaret Mead</a>
			   	</div>
			   	<div class="header-profile-userpic">
			   		<a href="#"><img src="images/userpic.png"></a>
			   	</div>
			   	<div class="header-profile-link">
			   		<a href="#"></a>
			   	</div>
			   	<div class="profile-links">
					<ul>
						<li><a href="#">Account</a></li>
						<li><a href="#">Log-Out</a></li>
					</ul>
				</div>
		    </div>
		</div>
	</div>
	<div class="header-creating-store">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<ul>
						<li class="done">Basic information</li>
						<li class="active">Policy builder</li>
					</ul> 
				</div>
			</div>
	    </div>
    </div>		
</header>
