<header class="header header-admin">
	<div class="header-info hidden-xs">
		<div class="container header-container">
			<div class="row">
				<div class="col-sm-4 col-md-6 col-lg-7 col-lg-offset-2 col-md-offset-3">
					<div class="header-search">
	                    <form role="search" method="get" class="search-form" action=""> <input type="text" class="search-field" placeholder="Search insurance products..." value="" name="s" /> <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button> </form>
	                </div>   
				</div>
				<div class="col-sm-8 col-md-3 hidden-xs">
					<div class="header-info__item header-info__item-phone">
			    		<a href="tel:800-123-5678">800-123-5678</a>
			    	</div>
				</div>
			</div>
	    </div>
    </div>
	<div class="container header-container">
			<div class="col-sm-12 col-md-2">
			    <div class="header-logo">
			    	<img src="images/logo.svg">
			    </div>
			</div>
			<div class="col-sm-4 col-md-9 col-lg-7 col-lg-7 col-lg-offset-2 col-md-offset-2">
			    <nav class="header-nav">
				    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
	    				<span></span>
		                <span></span>
		                <span></span>
		                <span></span>
		                <span></span>
		                <span></span>
	              	</a>
			    </nav>
			    <div class="header-title hidden-xs">My requests</div>
			</div>
				<nav class="header-nav header-menu clearfix">
				   	<ul>
			    		<li class="active"><a href="#">personal data</a></li>
			    		<li><a href="#">my policies</a></li>
			    		<li><a href="#">my claims</a></li>
			    		<li><a href="#">My circles</a></li>
			    		<li><a href="#">my referral</a></li>
			    		<li><a href="#">my invitations </a></li>
			    		<li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
			    	</ul>
			    </nav>
			    <div class="col-sm-8 col-md-1 col-lg-3 hidden-xs">
				<div class="header-profile">
					<div class="header-profile-name hidden-sm hidden-md">
				   	 	<a href="#">Margaret Mead</a>
				   	</div>
				   	<div class="header-profile-userpic">
				   		<a href="#"><img src="images/userpic.png"></a>
				   	</div>
				   	<div class="header-profile-link">
				   		<a href="#"></a>
				   	</div>
			    </div>
			</div>
			</div>
			
	</div>
</header>
