<header class="header header-wizard">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-2">
			    <div class="header-logo-wizard">
			    	<img src="images/logo-white-1.png">
			    </div>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-10">
				<div class="header-wizard-step">
					step 1 of 4
				</div>
				<div class="header-wizard-title">
					Professional liability
				</div>
				<div class="header-wizard-steplist">
					<ul>
						<li class="done">Request quote</li>
						<li class="active">Choosing product</li>
						<li>Policy details</li>
						<li>Payment</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
