//Colours should always only appear in this colours.scss
$black: #000;
$white: #fff;
$orange: #fdb92d;
$orange-hover: #fea12a;
$blue: #5da0e7;

$gray-border: #e3e4e9;
$gray-table-border: #e5eff8;
$blue-dark: #1c385f;
$gray-text: #9199a6;
$gray-bg: #f7f8fc;

$green: #24d17e;
$red: #e71e62;

$color-bodyText: $blue-dark;
$color-primary: $orange;
$color-primary-hover: $orange-hover;
$color-secondary: $blue;
