.admin-request-table {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			&:first-child,
			&:last-child {
				width: 50%;
			}
			&:last-child {
				text-align: right;
			}
			&:nth-child(1),
			&:nth-child(4) {
				@include breakpoint(large) {
					width: 25%;
				}
			}
			&:nth-child(2) {
				width: 30%
			}
			&:nth-child(3) {
				width: 20%;
			}
		}
	}
	&.force-display {
		.product-table-header,
		.product-table-row {
			.product-table-col {
				width: 25%!important;
			}
		}
	}
}