.benefits-list-item {
	position: relative;
	background: #f4f5f7;
	border-radius: 10px;
	padding: 30px;
	max-width: 450px;
	margin: 40px auto 24px;
	overflow: hidden;
	text-align: center;
	color: $blue-dark;
	font-size: $fontSize-small;
	@include breakpoint(medium) {
		padding: 45px;
	}
	@include breakpoint(large) {
        max-width: none;
    }
}
.benefits-list-item__img {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: -125px;
	left: 50%;
	margin-left: -125px;
	background: $white;
}
.benefits-list-item__market {
	background: url('../images/market-place.svg') $white no-repeat;
	background-position: center 125px;
	background-size: 98px;
}
.benefits-list-item__credit {
	background: url('../images/credit.svg') $white no-repeat;
	background-position: center 125px;
	background-size: 103px;
}
.benefits-list-item__discount {
	background: url('../images/discount.svg') $white no-repeat;
	background-position: center 125px;
	background-size: 86px;
}
.benefits-list-item__referral {
	background: url('../images/referral.svg') $white no-repeat;
	background-position: center 125px;
	background-size: 70px;
}
.benefits-list-item__title {
	font-family: $font-second;
	margin-top: 125px;
	font-size: $fontSize-larger;
	line-height: 1;
	margin-bottom: 40px;
	@include breakpoint(medium) {
		height: 48px;
		overflow: hidden;
	}
}
.benefits-list-item__text {
	@include breakpoint(medium) {
		height: 125px;
		overflow: hidden;
	}
	@include breakpoint(large) {
		height: 95px;
	}
}