input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 7px 10px 8px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    border: 1px solid $color-primary;
    border-radius: 0;
    -webkit-appearance: none;
    &:focus {
    }
    &::placeholder {

    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 18px 40px 14px;
    text-align: center;
    text-decoration: none;
    font-family: $font-second;
    font-size: $fontSize-xsmall;
    line-height: $lineHeight-base;
    border-radius: 0;
    border: 2px solid $color-primary;
    color: $black;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    color: $blue-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 29px;
    &:hover,
    &:active,
    &:active:hover {
        cursor: pointer;
        background: $color-primary-hover;
        border: 2px solid $color-primary-hover;
        box-shadow: none;
        color: $blue-dark;
        outline: none;
    }
    &[disabled] {
        &:hover,
        &:focus,
        &:active,
        &:active:hover {
            background: $color-primary;
            border: 2px solid $color-primary;
        }
    }
}
.btn--fullWidth {
    width: 100%;
}
.btn--small {
    padding: 3px 30px 1px;
    font-size: $fontSize-xxsmall;
}
.btn-default {
    background-color: transparent;
    border: solid 2px transparent;
    color: $color-primary;
    padding: 0;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px transparent;
        color: $color-primary-hover;
    }
}
.btn--noMar {
    margin: 12px 0;
    @include breakpoint(medium) {
        margin: 0;
    }
    
}
.btn-default-blue {
    background-color: transparent;
    border: solid 2px transparent;
    color: $color-secondary;
    padding: 0;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px transparent;
        color: $color-secondary;
    }
}
.btn-primary {
    background-color: $color-primary;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px $color-primary-hover;
        color: $blue-dark;
        outline: none;
    }
}
.btn-login {
    position: relative;
    &:before {
        content: ' ';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../images/login.svg') no-repeat;
        background-size: 16px;
        margin-right: 7px;
        position: relative;
        top: 1px;
    }
}
.form {
    margin-left: -5px;
    margin-right: -5px;
    margin-left: -11px;
    margin-right: -11px;
    .form-item {
        margin-bottom: 24px;
        @include breakpoint(medium) {
            width: auto;
        }
        .form-tip {
            font-size: $fontSize-small;
            color: $gray-text;
            @include breakpoint(medium) {
                position: relative;
                top: 30px;
            }
        }
        &.form-item--half {
                float: left;
                width: 50%;
        }
        .wpcf7-not-valid {
            border-color: $color-secondary;
        }
        .input-group {
            input {
                border-radius: 5px 0 0 5px;
            }
            .btn {
                margin: 0;
                background: $color-secondary;
                color: $white;
                border-radius: 5px;
                border: solid 2px $color-secondary;
                box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
                font-size: $fontSize-xxsmall;
            }
        }
        .radio-item {
            input[type=radio] {
                display: none;
                +label {
                    &:before {
                        content: ' ';
                        display: inline-block;
                        position: relative;
                        width: 23px;
                        height: 23px;
                        background: none;
                        border-radius: 50%;
                        border: solid 1px $gray-border;
                        top: 5px;
                        margin-right: 10px;
                    }
                }
                &:checked {
                    +label {
                        &:before {
                            border: solid 1px transparent;
                            background: url('../images/success-icon.png') no-repeat;
                        }
                    }
                }
            }
        }
        .error-message {
            color: $red;
            text-align: right;
            margin: 5px 0;
        }
        &.error {
            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="search"],
            textarea,
            select {
                color: $red;
                font-weight: $fontWeight-bold;
                box-shadow: 0 2px 0 0 $red;
                &:focus {
                     box-shadow: 0 2px 0 0 $red;
                }
                &.error {
                     box-shadow: 0 2px 0 0 $red;
                }
                &::placeholder {
                    color: $red;
                }
            }        
        }
    }
    label {
        color: $gray-text;
        font-size: $fontSize-small;
        font-weight: $fontWeight-normal;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea,
    select {
        width: 100%;
        padding: 15px 25px 16px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
            outline: none;
             box-shadow: 0 2px 0 0 $color-secondary;
        }
        &[disabled] {
            background: #fbfbfd;
            box-shadow: 0 2px 0 0 #e3e4e9;
            font-weight: $fontWeight-normal;
            color: $gray-text;
        }
        
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
            color: $gray-text;
        }
    }
}
div.wpcf7-response-output {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 5px;
}

.form--contact {
    margin-top: 20px;
    .form-item--action {
        text-align: center;
        .btn {
            width: 245px;
        }
    }
}

i {
    border: solid $color-primary;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 7px;
    position: relative;
    top: -2px;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
}
}
.form-container {
    background: $white;
    box-shadow: 0 2px 0 0 $gray-table-border;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto 30px;
    max-width: 670px;
}
.form-container--transparent {
    padding: 0;
    background: none;
    box-shadow: none;
}
.select2-container--default {
    display: block;
    width: 100%!important;
    input.select2-search__field {
        &[type="search"] {
            &:focus {
                box-shadow: none;
            }
        }
    }
    .select2-selection--multiple {
        width: 100%;
        padding: 9px 17px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
        }
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
        }
        .select2-selection__choice {
            background: $color-secondary;
            border: none;
            color: $white;
        }
         .select2-selection__choice__remove {
            color: $white;
         }
    }
    .select2-selection--single {
        width: 100%;
        padding: 9px 17px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        font-weight: $fontWeight-bold;
        height: auto;
        &:focus {
            outline: none;
            box-shadow: 0 2px 0 0 $color-secondary;
        }
        .select2-selection__arrow {
            height: auto;
            top: 50%;
        }
        .select2-selection__rendered {
            color: $blue-dark;
        }
    }
    &.select2-container--focus {
        .select2-selection--multiple {
            border: none;
            background: $gray-bg;
            box-shadow: 0 2px 0 0 $color-secondary;
            .select2-results__option {
                &:after {
                    content: ' ';
                    display: inline-block;
                    background: url('../images/success-icon.png') no-repeat;
                    width: 23px;
                    height: 24px;
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
    .select2-results__option {
        position: relative;
        border-bottom: solid 1px $gray-table-border;
        padding: 14px 10px;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        font-size: $fontSize-small;
        &.select2-results__option--highlighted[aria-selected] {
            background: $gray-bg;
            color: $blue-dark;
        }
    }
    .select2-dropdown {
        border: solid 1px $gray-table-border; 
    }
}
.js-select2.select2-white {
    +.select2-container--default {
        .select2-selection--multiple {
            background: $white;
        }
    }
}
.irs-with-grid {
    width: 90%;
    &:after {
        content: ' ';
        background: $gray-bg;
        height: 12px;
        width: 300px;
        display: inline-block;
        position: absolute;
        top: 25px;
        right: -10%;
        z-index: 0;
        border-radius: 6px;
    }
}
.irs-line {
    height: 12px;
    z-index: 1;
}
.irs-line-mid {
    background: $gray-bg;
    height: 12px;
}
.irs-line-left {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-line-right {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-bar {
    background: $color-secondary;
    height: 12px;
    z-index: 2;
} 

.irs-bar-edge {
    background: $color-secondary;
    height: 12px;
    border-radius: 6px;
    z-index: 1;
}
.irs-slider {
    width: 16px;
    height: 16px;
    top: 22px;
    background: $color-secondary;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
}
.irs-grid-pol {
    position: absolute;
    top: -12px;
    left: 0;
    width: 6px;
    height: 6px;
    z-index: 10;
    border-radius: 50%;
    background: $white;
    &.small {
        display: none;
    }
}
.irs-grid-text {
    font-size: $fontSize-small;
    color: $blue-dark;
}
.range_yellow {
   .irs-bar {
        background: $color-primary;
    } 
    .irs-bar-edge {
        background: $color-primary;
    }
    .irs-slider {
        background: $color-primary;
    }
    .irs-slider {
        background: $color-primary;
        box-shadow: none;
        width: 12px;
        height: 12px;
        top: 25px;
    }
    .irs-grid-text {
        display: none;
    }
    .irs-grid-pol {
        display: none;
    }

}
.toggle-switch {
  height: 50px;
  margin-bottom: 15px;
  padding: 4px;
  background: $gray-bg;
  border-radius: 25px;
}

.register-switch-input {
  display: none;
}

label.register-switch-label {
  float: left;
  width: 50%;
  line-height: 42px;
  color: white;
  text-align: center;
  color: $gray-text;
  cursor: pointer;
  font-size: $fontSize-small;
  font-weight: $fontWeight-bold;
  .register-switch-input:checked + & {
    font-weight: $fontWeight-bold;
    color: $white;
    background: $color-secondary;
    border-radius: 25px;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
  }
}
.form-uploaded {
    margin-bottom: 20px;
}
.form-uploaded__img {
    float: left;
    margin-right: 60px;
    img {
        width: 40px;
    }
}
.form-uploaded-content {
    overflow: hidden;
}
.form-uploaded__item {
    font-size: $fontSize-small;
}
.form-uploaded__size {
    font-size: $fontSize-small;
    color: $gray-text;
}
.toggle-switch {
    #no_pending.register-switch-input:checked {
        +.form-uploaded {
            background: red;
        }
    }
}
.details-item {
    border-bottom: solid 2px $gray-table-border;
    padding: 22px 0;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}
.details-item__label {
    width: 40%;
    float: left;
    font-size: $fontSize-small;
    color: $gray-text;
}
.details-item__content {
    width: 60%;
    overflow: hidden;
    font-size: $fontSize-small;
}
.details-item__name {
    img {
        margin-right: 15px;
    }
    font-size: $fontSize-larger;
    font-weight: $fontWeight-bold;
    margin-bottom: 20px;
}
.details-item__text {
    color: $gray-text;
    font-size: $fontSize-small;
}
.form-tooltip {
    font-size: $fontSize-xxsmall;
    color: $gray-text;
    font-weight: $fontWeight-bold;
    line-height: 1;
    .btn {
        line-height: 1;
        border: none;
    }
}
.success-icon {
    display: block;
    margin: 0 auto 15px;
    width: 23px;
    height: 23px;
    background: url('../images/success-icon.png') no-repeat;
}

.file_upload {
    position: relative;
    width: 155px;
    height: 155px;
    border: dashed 1px $gray-table-border;
    border-radius: 5px;
    background: url('../images/upload.svg') center 15px no-repeat;
    background-size: 62px;
    float: left;
    margin-right: 30px;
    &:hover,
    &:focus {
        border: dashed 1px $color-secondary;
    }
    input[type="file"] {
        display: block;
        width: 155px;
        height: 155px;
        opacity: 0;
    }
    span {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        font-size: $fontSize-xsmall;
        text-align: center;
    }
    +span {
        display: block;
        color: $gray-text;
        font-size: $fontSize-small;
        overflow: hidden;
        margin-top: 50px;
    }
}
.socials__item {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 20px;
    background: url("../images/socials.png") no-repeat;
    &.socials__item_fb {
        background-position: 0 0;
    }
    &.socials__item_tw {
        background-position: -62px 0;
    }
    &.socials__item_in {
        background-position: -124px 0;
    }
}
.input-block {
  margin-top: 25px;
  position: relative;
  label {
    color: #abb8c5;
    margin-bottom: 15px;
    font-size: 16px;
  }
  input, .password-info {
    color: #1b375f;
    outline: none;
    font-size: 16px;
    height: 60px;
    width: 100%;
    background-color: #f4f5f7;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    margin-top: 13px;
    font-weight: bold;
  }
}

.select-dropdown {
  & {
    position: relative;
  }
  .menu-button {
    height: 60px;
    width: 100%;
    border: 1px solid #e3e4e9;
    border-top: none;
    font-weight: bold;
    outline: none;
    color: #4d5f77;
    padding: 0 25px;;
    border-radius: 4px;
    margin: 13px 0 0 0;
    text-transform: inherit;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    &:disabled {
      opacity: 0.5;
    }
    i.fa.fa-sort-down {
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
            right: 25px;
            display: block;
            padding: 0;
    }
    +.items {
        display: none;
      }
      &:focus {
        +.items {
            display: block;
        }
      }
  }
  
  .items {
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    border: 1px solid #e3e4e9;
    border-radius: 4px;
    z-index: 10;
    .item {
      background-color: #ffffff;

      border-bottom: solid 1px $gray-table-border;
      &:last-child {
        border: none;
      }
    }
    button {
      width: 100%;
      padding: 15px 25px 16px;
      font-size: 14px;
      text-align: left;
      color: #1c385e;
      border-radius: 0;
      background: none;
        box-shadow: none;
        margin: 0;
      &:hover {
        background-color: #5da0e7;
        color: #ffffff;
      }
    }
  }
}

//  стиль для элемента отдельной библиотеки
:host /deep/ .mat-button-focus-overlay {
  background-color: transparent;
}

.select-dropdown {
    button {
        width: 100%;
        border: none;
        border-radius: 5px;
        background: $gray-bg;
        text-align: left;
        padding: 15px 25px 16px;
        text-transform: none;
        letter-spacing: normal;
        font-family: $font-base;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border: none;
        &:hover,
        &:active,
        &:focus,
        &:active:hover {
            cursor: pointer;
            background: $gray-bg;
            border: none;
            box-shadow: 0 2px 0 0 $color-secondary;
            color: $blue-dark;
            outline: none;
        }
    }
}
.add-field {
    text-align: center;
    color: $gray-text;
    padding: 220px 0;
}
.add-field-img {
    margin-bottom: 30px;
}
.add-field-title {
    font-family: $font-second;
    font-size: $fontSize-largest;
    margin-bottom: 15px;
}
.add-field-text {
    font-size: $fontSize-small;
    margin-bottom: 20px;
}
.pass-strength {
    position: relative;
    top: 40px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
                width: 30%;
            height: 9px;
            border-radius: 5px;
            &.passed {
                
                background: $green;
                
            }
            &.passed_not {
                background: $gray-border;
            }
        }
    }
}
.pass-strength-list {
    position: relative;
    margin-bottom: 24px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            padding-left: 20px;
            &:before {
                content: ' ';
                display: block;
                background: $green;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 12px;
                left: 0;
            }
            &.pass-strength-list_gray {
                color: $gray-text;
                &:before {
                    background: $gray-text;
                }
            }
        }
    }
}