input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 7px 10px 8px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    border: 1px solid $color-primary;
    border-radius: 0;
    -webkit-appearance: none;
    &:focus {
    }
    &::placeholder {

    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 18px 50px 14px;
    text-align: center;
    text-decoration: none;
    font-family: $font-second;
    font-size: $fontSize-xsmall;
    line-height: $lineHeight-base;
    border-radius: 0;
    border: 2px solid $color-primary;
    color: $black;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    color: $blue-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 29px;
    &:hover,
    &:active,
    &:active:hover {
        cursor: pointer;
        background: $color-primary-hover;
        border: 2px solid $color-primary-hover;
        box-shadow: none;
        color: $blue-dark;
    }
}
.btn--fullWidth {
    width: 100%;
}
.btn--small {
    padding: 3px 30px 1px;
    font-size: $fontSize-xxsmall;
}
.btn-default {
    background-color: transparent;
    border: solid 2px transparent;
    color: $color-primary;
    padding: 0;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px transparent;
        color: $color-primary-hover;
    }
}
.btn-primary {
    background-color: $color-primary;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px $color-primary-hover;
        color: $blue-dark;
        outline: none;
    }
}
.btn-login {
    position: relative;
    &:before {
        content: ' ';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../images/login.svg') no-repeat;
        background-size: 16px;
        margin-right: 7px;
        position: relative;
        top: 1px;
    }
}
.form {
    margin-left: -5px;
    margin-right: -5px;
    margin-left: -11px;
    margin-right: -11px;
    .form-item {
        margin-bottom: 24px;
        padding: 0 5px;
        @include breakpoint(medium) {
            width: auto;
            margin-bottom: 22px;
            padding-left: 11px;
            padding-right: 11px;
        }
        .form-tip {
            position: relative;
            top: 30px;
            font-size: $fontSize-small;
        }
        &.form-item--half {
                float: left;
                width: 50%;
        }
        .wpcf7-not-valid {
            border-color: $color-secondary;
        }
    }
    label {
        color: $gray-text;
        font-size: $fontSize-small;
        font-weight: $fontWeight-normal;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea,
    select {
        width: 100%;
        padding: 15px 10px 16px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
        }
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
        }
    }
}
div.wpcf7-response-output {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 5px;
}

.form--contact {
    margin-top: 20px;
    .form-item--action {
        text-align: center;
        .btn {
            width: 245px;
        }
    }
}

i {
    border: solid $color-primary;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 7px;
    position: relative;
    top: -2px;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
}
}
.form-container {
    background: $white;
    box-shadow: 0 2px 0 0 $gray-table-border;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto 30px;
    max-width: 670px;
}
.select2-container--default {
    .select2-selection--multiple {
        width: 100%;
        padding: 9px 10px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
        }
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
        }
        .select2-selection__choice {
            background: $color-secondary;
            border: none;
            color: $white;
        }
         .select2-selection__choice__remove {
            color: $white;
         }
    }
    .select2-selection--single {
        width: 100%;
        padding: 9px 10px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        font-weight: $fontWeight-bold;
        height: auto;
        .select2-selection__arrow {
            height: auto;
            top: 50%;
        }
        .select2-selection__rendered {
            color: $blue-dark;
        }
    }
    &.select2-container--focus {
        .select2-selection--multiple {
            border: none;
            background: $gray-bg;
            .select2-results__option {
                &:after {
                    content: 'a';
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
    .select2-results__option {
        position: relative;
        border-bottom: solid 1px $gray-table-border;
        padding: 14px 10px;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        font-size: $fontSize-small;
        &.select2-results__option--highlighted[aria-selected] {
            background: $gray-bg;
            color: $blue-dark;
        }
    }
    .select2-dropdown {
        border: solid 1px $gray-table-border; 
    }
}
.irs-line {
    height: 12px;
}
.irs-line-mid {
    background: $gray-bg;
    height: 12px;
}
.irs-line-left {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-line-right {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-bar {
    background: $color-secondary;
    height: 12px;
} 
.irs-bar-edge {
    background: $color-secondary;
    height: 12px;
    border-radius: 6px;
}
.irs-slider {
    width: 16px;
    height: 16px;
    top: 22px;
    background: $color-secondary;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
}
.irs-grid-pol {
    position: absolute;
    top: -12px;
    left: 0;
    width: 6px;
    height: 6px;
    z-index: 10;
    border-radius: 50%;
    background: $white;
    &.small {
        display: none;
    }
}
.irs-grid-text {
    font-size: $fontSize-small;
    color: $blue-dark;
}

.toggle-switch {
  height: 50px;
  margin-bottom: 15px;
  padding: 4px;
  background: $gray-bg;
  border-radius: 25px;
}

.register-switch-input {
  display: none;
}

label.register-switch-label {
  float: left;
  width: 50%;
  line-height: 42px;
  color: white;
  text-align: center;
  color: $gray-text;
  cursor: pointer;
  font-size: $fontSize-small;
  font-weight: $fontWeight-bold;
  .register-switch-input:checked + & {
    font-weight: $fontWeight-bold;
    color: $white;
    background: $color-secondary;
    border-radius: 25px;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
  }
}
.form-uploaded {
    margin-bottom: 20px;
}
.form-uploaded__img {
    float: left;
    margin-right: 60px;
    img {
        width: 40px;
    }
}
.form-uploaded-content {
    overflow: hidden;
}
.form-uploaded__item {
    font-size: $fontSize-small;
}
.form-uploaded__size {
    font-size: $fontSize-small;
    color: $gray-text;
}