input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 7px 10px 8px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    border: 1px solid $color-primary;
    border-radius: 0;
    -webkit-appearance: none;
    &:focus {
    }
    &::placeholder {

    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 18px 50px 14px;
    text-align: center;
    text-decoration: none;
    font-family: $font-second;
    font-size: $fontSize-xsmall;
    line-height: $lineHeight-base;
    border-radius: 0;
    border: 2px solid $color-primary;
    color: $black;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    color: $blue-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 29px;
    &:hover,
    &:active,
    &:active:hover {
        cursor: pointer;
        background: $color-primary-hover;
        border: 2px solid $color-primary-hover;
        box-shadow: none;
        color: $gray-text;
        outline: none;
    }
}
.btn--fullWidth {
    width: 100%;
}
.btn--small {
    padding: 3px 30px 1px;
    font-size: $fontSize-xxsmall;
}
.btn-default {
    background-color: transparent;
    border: solid 2px transparent;
    color: $color-primary;
    padding: 0;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px transparent;
        color: $color-primary-hover;
    }
}
.btn-default-blue {
    background-color: transparent;
    border: solid 2px transparent;
    color: $color-secondary;
    padding: 0;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px transparent;
        color: $color-secondary;
    }
}
.btn-primary {
    background-color: $color-primary;
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        cursor: pointer;
        background-color: transparent;
        border: solid 2px $color-primary-hover;
        color: $blue-dark;
        outline: none;
    }
}
.btn-login {
    position: relative;
    &:before {
        content: ' ';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../images/login.svg') no-repeat;
        background-size: 16px;
        margin-right: 7px;
        position: relative;
        top: 1px;
    }
}
.form {
    margin-left: -5px;
    margin-right: -5px;
    margin-left: -11px;
    margin-right: -11px;
    .form-item {
        margin-bottom: 24px;
        @include breakpoint(medium) {
            width: auto;
        }
        .form-tip {
            font-size: $fontSize-small;
            color: $gray-text;
            @include breakpoint(medium) {
                position: relative;
                top: 30px;
            }
        }
        &.form-item--half {
                float: left;
                width: 50%;
        }
        .wpcf7-not-valid {
            border-color: $color-secondary;
        }
    }
    label {
        color: $gray-text;
        font-size: $fontSize-small;
        font-weight: $fontWeight-normal;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea,
    select {
        width: 100%;
        padding: 15px 25px 16px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
            outline: none;
             box-shadow: 0 2px 0 0 $color-secondary;
        }
        &[disabled] {
            background: #fbfbfd;
            box-shadow: 0 2px 0 0 #e3e4e9;
            font-weight: $fontWeight-normal;
            color: $gray-text;
        }
        &.error {
             box-shadow: 0 2px 0 0 $red;
        }
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
            color: $gray-text;
        }
    }
}
div.wpcf7-response-output {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 5px;
}

.form--contact {
    margin-top: 20px;
    .form-item--action {
        text-align: center;
        .btn {
            width: 245px;
        }
    }
}

i {
    border: solid $color-primary;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 7px;
    position: relative;
    top: -2px;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
}
}
.form-container {
    background: $white;
    box-shadow: 0 2px 0 0 $gray-table-border;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto 30px;
    max-width: 670px;
}
.form-container--transparent {
    padding: 0;
    background: none;
    box-shadow: none;
}
.select2-container--default {
    display: block;
    width: 100%!important;
    input.select2-search__field {
        &[type="search"] {
            &:focus {
                box-shadow: none;
            }
        }
    }
    .select2-selection--multiple {
        width: 100%;
        padding: 9px 17px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        &:focus {
        }
        &::placeholder {
            color: $blue-dark;
            font-weight: $fontWeight-bold;
        }
        .select2-selection__choice {
            background: $color-secondary;
            border: none;
            color: $white;
        }
         .select2-selection__choice__remove {
            color: $white;
         }
    }
    .select2-selection--single {
        width: 100%;
        padding: 9px 17px 10px;
        font-family: $font-base;
        font-size: $fontSize-small;
        line-height: $lineHeight-base;
        border: none;
        background: $gray-bg;
        box-shadow: 0 2px 0 0 $gray-table-border;
        border-radius: 5px;
        -webkit-appearance: none;
        font-weight: $fontWeight-bold;
        height: auto;
        &:focus {
            outline: none;
            box-shadow: 0 2px 0 0 $color-secondary;
        }
        .select2-selection__arrow {
            height: auto;
            top: 50%;
        }
        .select2-selection__rendered {
            color: $blue-dark;
        }
    }
    &.select2-container--focus {
        .select2-selection--multiple {
            border: none;
            background: $gray-bg;
            box-shadow: 0 2px 0 0 $color-secondary;
            .select2-results__option {
                &:after {
                    content: ' ';
                    display: inline-block;
                    background: url('../images/success-icon.png') no-repeat;
                    width: 23px;
                    height: 24px;
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
    .select2-results__option {
        position: relative;
        border-bottom: solid 1px $gray-table-border;
        padding: 14px 10px;
        color: $blue-dark;
        font-weight: $fontWeight-bold;
        font-size: $fontSize-small;
        &.select2-results__option--highlighted[aria-selected] {
            background: $gray-bg;
            color: $blue-dark;
        }
    }
    .select2-dropdown {
        border: solid 1px $gray-table-border; 
    }
}
.select2-white {
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        background: red;
    }
}
.irs-with-grid {
    width: 90%;
    &:after {
        content: ' ';
        background: $gray-bg;
        height: 12px;
        width: 300px;
        display: inline-block;
        position: absolute;
        top: 25px;
        right: -10%;
        z-index: 0;
        border-radius: 6px;
    }
}
.irs-line {
    height: 12px;
    z-index: 1;
}
.irs-line-mid {
    background: $gray-bg;
    height: 12px;
}
.irs-line-left {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-line-right {
    background: $gray-bg;
    height: 12px;
    border-radius: 6px;
}
.irs-bar {
    background: $color-secondary;
    height: 12px;
    z-index: 2;
} 
.irs-bar-edge {
    background: $color-secondary;
    height: 12px;
    border-radius: 6px;
    z-index: 1;
}
.irs-slider {
    width: 16px;
    height: 16px;
    top: 22px;
    background: $color-secondary;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
}
.irs-grid-pol {
    position: absolute;
    top: -12px;
    left: 0;
    width: 6px;
    height: 6px;
    z-index: 10;
    border-radius: 50%;
    background: $white;
    &.small {
        display: none;
    }
}
.irs-grid-text {
    font-size: $fontSize-small;
    color: $blue-dark;
}

.toggle-switch {
  height: 50px;
  margin-bottom: 15px;
  padding: 4px;
  background: $gray-bg;
  border-radius: 25px;
}

.register-switch-input {
  display: none;
}

label.register-switch-label {
  float: left;
  width: 50%;
  line-height: 42px;
  color: white;
  text-align: center;
  color: $gray-text;
  cursor: pointer;
  font-size: $fontSize-small;
  font-weight: $fontWeight-bold;
  .register-switch-input:checked + & {
    font-weight: $fontWeight-bold;
    color: $white;
    background: $color-secondary;
    border-radius: 25px;
    box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
  }
}
.form-uploaded {
    margin-bottom: 20px;
}
.form-uploaded__img {
    float: left;
    margin-right: 60px;
    img {
        width: 40px;
    }
}
.form-uploaded-content {
    overflow: hidden;
}
.form-uploaded__item {
    font-size: $fontSize-small;
}
.form-uploaded__size {
    font-size: $fontSize-small;
    color: $gray-text;
}
.details-item {
    border-bottom: solid 2px $gray-table-border;
    padding: 22px 0;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}
.details-item__label {
    width: 40%;
    float: left;
    font-size: $fontSize-small;
    color: $gray-text;
}
.details-item__content {
    width: 60%;
    overflow: hidden;
    font-size: $fontSize-small;
}
.details-item__name {
    img {
        margin-right: 15px;
    }
    font-size: $fontSize-larger;
    font-weight: $fontWeight-bold;
    margin-bottom: 20px;
}
.details-item__text {
    color: $gray-text;
    font-size: $fontSize-small;
}
.form-tooltip {
    font-size: $fontSize-xsmall;
    color: $gray-text;
}
.success-icon {
    display: block;
    margin: 0 auto 15px;
    width: 23px;
    height: 23px;
    background: url('../images/success-icon.png') no-repeat;
}

.file_upload {
    position: relative;
    width: 155px;
    height: 155px;
    border: dashed 1px $gray-table-border;
    border-radius: 5px;
    background: url('../images/upload.svg') center 15px no-repeat;
    background-size: 62px;
    float: left;
    margin-right: 30px;
    &:hover,
    &:focus {
        border: dashed 1px $color-secondary;
    }
    input[type="file"] {
        display: block;
        width: 155px;
        height: 155px;
        opacity: 0;
    }
    span {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        font-size: $fontSize-xsmall;
        text-align: center;
    }
    +span {
        display: block;
        color: $gray-text;
        font-size: $fontSize-small;
        overflow: hidden;
        margin-top: 50px;
    }
}