.header {
	padding: 13px 0;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	@include breakpoint(medium) {
	}
	.container {
		width: auto;
		@include breakpoint(large) {
			width: 960px;
		}
		@include breakpoint(xlarge) {
			width: 1160px;
		}
	}
	.header-container {
		position: relative;
		width: 100%;
		max-width: 1830px;
		padding: 0;
		margin-bottom: 10px;
	}
	.btn {
		margin: 5px 0;
		@include breakpoint(large) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@include breakpoint(xlarge) {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}
.header-logo {
	width: 165px;
	height: auto;
	position: absolute;
	right: 15px;
	img {
		max-width: 145px;
	}
	@include breakpoint(medium) {
		float: none;
		left: 15px;
	}
	@include breakpoint(large) {
		width: auto;
	}
}
.header-nav {
	position: relative;
	@include breakpoint(medium) {
		margin: 12px 0;
	}
	&.header-menu {
		position: absolute;
		width: 100%;
		@include breakpoint(large) {
			position: relative;
		    padding-left: 15px;
		    padding-right: 15px;
		    width: 33.33333333%;
		    margin-left: 25%;
		    float: left;
		}
	}
	&.is-open {
        .header-nav-mobButton {
            span {
                &:nth-child(1), 
                &:nth-child(6) {
                  transform: rotate(45deg);
                }
                &:nth-child(2),
                &:nth-child(5) {
                  transform: rotate(-45deg);
                }
                &:nth-child(1) {
                  left: 3px;
                  top: 6px;
                }
                &:nth-child(2) {
                  left: calc(50% - 3px);
                  top: 6px;
                }
                &:nth-child(3) {
                  left: -50%;
                  opacity: 0;
                }
                &:nth-child(4) {
                  left: 100%;
                  opacity: 0;
                }
                &:nth-child(5) {
                  left: 3px;
                  top: 20px;
                }
                &:nth-child(6) {
                  left: calc(50% - 3px);
                  top: 20px;
                }
            }
        }
        ul {
        	visibility: visible;
        	opacity: 1;
        	z-index: 100;
        }
   	}
   	ul {
   		position: absolute;
   		visibility: hidden;
   		opacity: 0;
   		transition: all .3s ease-in-out;
   		list-style: none;
   		padding: 0;
   		margin: 0;
   		background:	$white;
	    width: 100%;
    	z-index: 0;
    	top: 13px;
    	left: 0;
    	right: 0;
    	box-shadow: 0 1px 5px rgba(0,0,0,.2);
    	@include breakpoint(medium) {
    		top: 71px;
    	}
    	@include breakpoint(large) {
    		position: relative;
			visibility: visible;
        	opacity: 1;
        	background: none;
        	box-shadow: none;
        	top: 0;
    	}
    	li {
    		text-align: center;
			&.phone-link {
				a {
					color: $blue-dark;
					&:before {
						content: ' ';
						display: inline-block;
						width: 14px;
						height: 14px;
						background: url('../images/phone.svg') no-repeat;
						margin-right: 10px;
					}
				}
				@include breakpoint(medium) {
					display: none;
				}
			}
    		@include breakpoint(medium) {
    			&:last-child {
    				margin-right: 0;
    			}
    			&:nth-child(5),
    			&:nth-child(6) {
    				display: none;
    			}

    		}
    		@include breakpoint(large) {
    			display: inline-block;
    			margin-right: 20px;
    		}
    		@include breakpoint(xlarge) {
    			margin-right: 40px;
    		}
		    &:nth-child(6) {
				border-top: solid 1px $gray-border;
				.header-admin & {
					border-top: none;
				}
				@include breakpoint(large) {
					border-top: none;
				}
			}
			&:nth-child(6) {
				a {
    				color: $blue-dark;
    			}
    		}
    		a {
    			display: block;
    			padding: 10px 0;
    			color: #1c385f;
    			font-family: $font-second;
    			font-size: $fontSize-xsmall;
    			text-transform: uppercase;
    			color: $gray-text;
    			@include breakpoint(large) {
    				color: $blue-dark;
    			}
  				&:hover,
				&:focus {
					text-decoration: none;
					background: $color-secondary;
					color: $white;
					box-shadow: 0px 3px 15px 0 #3987e4;
					@include breakpoint(large) { 
						background: none;
						color: $blue-dark;
						box-shadow: none;
					}
				}
				&.btn {
					display: inline-block;
					color: $blue-dark;
					padding: 10px 20px;
					&:hover,
					&:focus {
						background: $color-primary-hover;
						box-shadow: none;
					}
				}
    		}
    		&.header-nav-action {
				display: none;
			}
    	}
   	}
}
.header-nav-mobButton {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 7px;
    overflow: hidden;
    @include breakpoint(large) {
    	display: none;
    }
    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 50%;
        background: $color-primary;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(even) {
            left: 50%;
        }
        &:nth-child(odd) {
            left:0px;
        }
        &:nth-child(1), 
        &:nth-child(2) {
          top: 0px;
        }
        &:nth-child(3), 
        &:nth-child(4) {
          top: 12px;
        }
        &:nth-child(5), 
        &:nth-child(6) {
          top: 24px;
        }
    }
}
.header-info {
	@include breakpoint(medium) {
		border-bottom: solid 1px $gray-border;
		padding-bottom: 10px;
	}
}
.header-info__item {
	display: inline-block;
	&.header-info__item-address {
		font-size: $fontSize-small;
		color: $blue-dark;
		margin-right: 35px;
	}
	&.header-info__item-email {
		font-size: $fontSize-small;
		a {
			color: $blue-dark;
		}
	}
	&.header-info__item-phone {
		font-size: $fontSize-large;
		float: right;
		a {
			color: $blue-dark;
			font-family: $font-second;
			&:before {
				content: ' ';
				display: inline-block;
				width: 14px;
				height: 14px;
				background: url('../images/phone.svg') no-repeat;
				margin-right: 10px;
			}
		}
	}
}
.header-action {
	text-align: right;
}
.header-wizard {
	background: $color-secondary;
	padding: 30px 0;
}
.header-wizard-title {
	display: inline-block;
	font-size: $fontSize-large;
	color: $white;
	font-weight: $fontWeight-bold;
	@include breakpoint(large) {
		display: none;
	}
	@include breakpoint(xlarge) {
		display: inline-block;
		font-size: $fontSize-large;
		float: left;
		margin-right: 30px;
	}
}
.header-wizard-step {
	display: inline-block;
	font-size: $fontSize-xxsmall;
	text-transform: uppercase;
	color: #84b9f4;
	letter-spacing: 1px;
	margin-right: 20px;
	@include breakpoint(large) {
		display: none;
	}
}
.header-wizard-steplist {
	display: none;
	@include breakpoint(large) {
		display: block;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			color: #84baf4;
			font-family: $font-second;
			font-size: $fontSize-xsmall;
			&.active {
				color: $white;
				&:before {
					border: solid 1px $white;
				}
			}
			&.done {
				color: $white;
				&:before {
					content: ' ';
					background: url('../images/tick.svg') $white center no-repeat;
					background-size: 16px;
				    color: $green;
				    text-align: center;
				    font-weight: bold;
    				font-size: 20px;
    				border: solid 1px $white;
				}
			}
			&:before {
				content: ' ';
				position: relative;
				top: 5px;
				display: inline-block;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: solid 1px #84b9f4;
				margin-right: 10px;
			}
			&:after {
				content: ' ';
				display: inline-block;
				border-bottom: dashed 1px #84b9f4;
				width: 38px;
				margin: 0 5px;
			    position: relative;
			    top: -5px;
			}
			&:last-child {
				&:after {
					content: none;
				}
			}
		}
	}
}
.header-admin {
	position: relative;
	border-bottom: solid 1px $gray-table-border;
	padding: 0;
	.header-container {
		margin-bottom: 0;
	}
	.header-admin-logo {
		position: absolute;
		right: 0;
		top: 15px;
		@include breakpoint(medium) {
			left: 50%;
			right: auto;
			margin-left: -73px;
		}
		@include breakpoint(large) {
			position: relative;
			left: 0;
			margin-left: 0;
		}
	}
	.header-admin-nav {
		padding: 15px 0;
		@include breakpoint(medium) {
			position: absolute;
			right: 0;
			left: 0;
			padding: 0;
		}
		@include breakpoint(large) {
			position: relative;
		}
	}
	.header-admin-profile {
		padding: 0;
		display: inline-block;
		@include breakpoint(medium) { 
			display: inline-block;
			float: right;
			position: relative;
			right: 15px;
		}
	}
	.header-nav-mobButton {
		margin: 0 15px;
	}
	.header-nav {
		float: left;
		margin-right: 15px;
		@include breakpoint(large) {
			display: none;
	    }
	}
	.header-info__item-phone {
		padding: 32px 0;
	}
	.header-logo {
		text-align: center;
		margin: 0 auto;
		@include breakpoint(large) {
			text-align: left;
			margin: 0;
		}
	}
	.header-title {
		position: relative;
		display: inline-block;
		overflow: hidden;
		top: 5px;
		font-family: $font-second;
		font-size: $fontSize-large;
		@include breakpoint(medium) {
			top: 20px;
		}
		@include breakpoint(large) {
			display: none;
		}
	}
	.header-info {
		display: none;
		@include breakpoint(xlarge) {
			display: block;
		}
	}
	.header-menu {
		width: 100%;
		margin-left: 0;
		float: none;
		@include breakpoint(large) {
			display: block;
			text-align: left;
		    width: auto;
	    	float: left;
		    margin-left: 16.66666%;
	    }
		ul {
			top: 10px;
			@include breakpoint(medium) {
				top: 18px;
			}
			@include breakpoint(large) {
				position: relative;
				top: 0;
			}
			li {
				display: block;
				@include breakpoint(medium) {
					margin-right: 18px;
				}
				@include breakpoint(large) {
					display: inline-block;
				}
				@include breakpoint(xlarge) {
					margin-right: 10px;
				}
				&.header-nav-action {
					border-top: solid 1px $gray-border;
					@include breakpoint(large) {
						display: none;
					}
					.btn {
						padding: 10px 20px;
					}
				}
				a {
					font-size: $fontSize-xsmall;
					font-weight: $fontWeight-bold;
					letter-spacing: 1px;
					color: $gray-text;
					padding: 10px 0;
					transition: all .3s ease-in-out;
					@include breakpoint(large) {
						font-size: 11px;
						padding: 15px 0 0;
					}
					&:hover,
					&:focus {
						color: $white;
						@include breakpoint(large) {
							color: $color-secondary;
						}
						&:after {
							@include breakpoint(large) {
								content: ' ';
								border-bottom: solid 4px $color-secondary;
								display: block;
								width: 50px;
								margin: 10px auto 0;
							}
						}
					}
					&:after {
						border-bottom: solid 4px transparent;
					}
				}
				&.active {
					a {
						@include breakpoint(large) {
							color: $color-secondary;
						}
						&:after {
							@include breakpoint(large) {
								content: ' ';
								border-bottom: solid 4px $color-secondary;
								display: block;
								width: 50px;
								margin: 10px auto 0;
							}
						}
					}
				}
			}
		}
	}
}
.header-profile {
	position: relative;
	text-align: right;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	padding: 0 10px;
	min-width: 150px;
	@include breakpoint(large) {
		position: absolute;
		right: 10px;
	}
	@include breakpoint(xlarge) {
		min-width: 300px;
	}
	&:hover,
	&:focus {
		background: $gray-bg;
		border-left: solid 1px $gray-border;
		border-right: solid 1px $gray-border;
		.profile-links {
			display: block;
			position: absolute;
			top: 68px;
			left: 0;
			right: 0;
			z-index: 1050;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				background: $white;
				box-shadow: 0 1px 5px rgba(0,0,0,0.2);
				li {
					padding: 10px 20px;
					text-align: left;
					a {
						color: $blue-dark;
						font-weight: $fontWeight-bold;
					}
					&:hover,
					&:focus {
						background: $color-secondary;
						box-shadow: 0px 3px 15px 0 #3987e4;
						a {
							color: $white;
						}
					}
				}
			}
		}
	}
	.profile-links {
		display: none;
	}
}
.header-profile-name {
	display: inline-block;
	margin-right: 15px;
	@include breakpoint(medium) {
		position: relative;
	    top: -25px;
	}
	a {
		color: $blue-dark;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
.header-profile-userpic {
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0px 3px 15px 0 rgba(0,0,0,.2);
}
.header-profile-link {
	position: relative;
	display: inline-block;
    a {
    	&:after {
    		content: ' ';
		    border-color: #202429 transparent transparent transparent;
		    border-style: solid;
		    border-width: 5px 4px 0 4px;
		    top: -5px;
		    position: relative;
    	}
    }
}
.header-search {
    position: relative;
    display: none;
    margin-right: 15px;
    vertical-align: top;
    width: 100%;
    @include breakpoint(medium) {
        display: inline-block;
    }
    @include breakpoint(medium) {
        padding: 25px 0;
    }
    .search-submit {
        padding-right: 0.5em;
        position: absolute;
        top: 6px;
        right: 5px;
        background: none;
        box-shadow: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: $color-secondary;
        border: none;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
        font-size: $fontSize-xxsmall;
        text-align: center;
        &:after {
            content: "\f002";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $white;
            font-size: 18px;
        }
        @include breakpoint(medium) {
            top: 30px;
        }
    }
    input.search-field {
    	background: $gray-bg;
    	border: solid 1px $gray-bg;
        padding-right: 25px;
        border-radius: 25px;
        color: $blue-dark;
        font-size: $fontSize-small;
        padding: 11px 25px;
        &::placeholder {
			color: $blue-dark;
    	}
    }
}
.header-registration {
	background: $gray-bg;
	padding: 15px 15px 30px;
	.header-logo {
		position: relative;
	}
}
.header-creating-store {
	border-top: solid 1px $gray-border;
	box-shadow: 0 2px 0 0 $gray-table-border;
	padding: 20px 0;
	font-size: $fontSize-small;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			color: $gray-border;
			font-weight: $fontWeight-bold;
			&:after {
				content: ' ';
				display: inline-block;
				border-bottom: dashed 1px $gray-border;
				width: 38px;
				margin: 0 5px;
			    position: relative;
			    top: -5px;
			}
			&:last-child {
				&:after {
					content: none;
				}
			}
			&:before {
				content: ' ';
				position: relative;
				top: 5px;
				display: inline-block;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: solid 1px $gray-border;
				margin-right: 10px;
			}
			&.active {
				color: $blue-dark;
				&:before {
					content: ' ';
					position: relative;
					top: 5px;
					display: inline-block;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: #d3f6e5;
					border: solid 1px $green;
					margin-right: 10px;
				}
			}
			&.done {
				color: $blue-dark;
				&:before {
					content: ' ';
					position: relative;
					top: 5px;
					display: inline-block;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: url('../images/success-icon.png') no-repeat;
					border: solid 1px transparent;
					margin-right: 10px;
				}
			}
		}
	}
}
