.how-works-container--overflow {
	overflow: hidden;
	@include breakpoint(medium) {
		overflow: inherit;
	}
}
.how-works-container {
	&:before {
	    content: ' ';
	    background: url('../images/bg.png') $color-secondary no-repeat;
	    background-position: top right;
	    border-radius: 0 16px 16px 0;
	    border: solid #5695db;
	    border-width: 48px 48px 48px 0;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    width: 5000px;
	    right: 15px;
	    z-index: 0;
	}
}
.how-works {
	position: relative;
	color: $white;
	padding-right: 130px;
	padding-top: 88px;
	padding-bottom: 88px;
	z-index: 1;
	font-size: $fontSize-small;
	@include breakpoint(medium) {
		padding-top: 90px;
		padding-bottom: 90px;		
	}
	@include breakpoint(large) {
		padding-top: 156px;
		padding-bottom: 156px;		
	}
	&:before {
		content: ' ';
		display: inline-block;
		width: 136px;
		height: 134px;
		background: url("../images/logo-1.png") no-repeat;
		background-position: center;
		position: absolute;
		top: 50%;
		margin-top: -67px;
		right: -68px;
		z-index: 20;
	}
	&:after {
	    content: ' ';
	    width: 130px;
	    height: 260px;
	    background: #fff;
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    margin-top: -130px;
	    right: 0px;
	    z-index: 10;
	    border: 48px solid #5695db;
	    border-radius: 100% 0 0 100% / 50% 0 0 50%;
	    background: $white;
	    border-right: none;
	}
}
.how-text {
	margin: 80px 0 0;
	color: $blue-dark;
}
.how-text-num {
	font-size: 60px;
	font-family: $font-second;
	line-height: 1;
	margin-bottom: 30px;
	&:before {
		content: ' ';
	    display: inline-block;
	    width: 105px;
	    height: 105px;
	    border-radius: 50%;
	    background: #f4f5f7;
	    position: absolute;
	    z-index: -1;
	    left: -30px;
	}
}
.how-text-title {
	font-family: $font-second;
	color: $blue-dark;
	font-size: $fontSize-larger;
	line-height: 1;
	margin-bottom: 30px;
}
.how-text-content {
	font-size: $fontSize-small;
}