//vars
$content-width: 1220px;
$content-width--small: 940px;
$content-gutters: 25px;

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
}
.siteSection {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}
.siteSection--noPad {
    padding-top: 0;
    padding-bottom: 0;
}
.siteSection--teaser {
    position: relative;
    background: url("../images/bg.png") $color-secondary no-repeat;
    background-position: center 60px;
    color: $white;
    padding: 200px 0 140px;
    @include breakpoint(medium) {
        padding: 60px 0 0;
        background-position: left 60px;
    }
    @include breakpoint(large) {
        background-position: left bottom;
        padding: 60px 0 120px;
    }
    @include breakpoint(xlarge) {
        padding: 60px 0 0;
    }
}
.siteSection--teaser_padded {
    @include breakpoint(xlarge) {
        padding: 120px 0;
    } 
}
.siteSection--benefits {
    background: url("../images/benefits.png") center 60px no-repeat;
    background-size: 100%;
    @include breakpoint(medium) {
        background-position: center top;
    }
    @include breakpoint(large) {
        padding: 230px 0 70px;
    }
    @include breakpoint(xxlarge) {
        padding: 330px 0 70px;
    }
}
.siteSection--gray {
    background: $gray-bg;
}
.siteSection--bg {
    @include breakpoint(xlarge) {
        background: url("../images/bg-1.png") $gray-bg no-repeat;
        background-position: top right;
    }
}
.siteSection--blue {
    background:$color-secondary;
    color: $white;
}

//in case we have sidebar
$sidebar-width: 300px;
.row.has-sidebar {
    @include breakpoint(large) {
        padding-right: $sidebar-width;
    }
    .siteContent-body {
        @include breakpoint(large) {
            padding-right: $content-gutters*2;
        }
    }
}
.siteContent-body {
    @include breakpoint(large) {
        float: left;
        width: 100%;
        padding-right: 0;
    }
}
.siteContent-side {
    position: relative;
    @include breakpoint(large) {
        float: left;
        width: $sidebar-width;
        margin-left: -$sidebar-width;
        left: $sidebar-width;
    }
}
.container--small {
    max-width: 670px;
    margin: 0 auto;
}