.my-invitations-table {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			width: 16.66666%;
			padding: 0 5px;
			&:nth-child(1) {
				width: 60%;
				line-height: 1;
				@include breakpoint(medium) {
					width: 50%;
				}
				@include breakpoint(large) {
					width: 35%;
				}
				.product-table-name {
					font-weight: $fontWeight-bold;
				}
				.product-table-text {
					font-size: $fontSize-xsmall;
					font-weight: $fontWeight-normal;
					margin-top: 5px;
					a {
						color: $blue-dark;
					}
				}
			}
			&:nth-child(2) {
				@include breakpoint(large) {
					width: 15%;
				}
			}
			&:nth-child(3) {
				@include breakpoint(large) {
					width: 15%;
				}
			}
			&:nth-child(4) {
				@include breakpoint(medium) {
					width: 20%;
				}
				@include breakpoint(large) {
					width: 15%;
				}
			}
			&:nth-child(5) {
				font-weight: $fontWeight-bold;
				width: 20%;
				text-align: right;
				@include breakpoint(medium) {
					width: 15%;
				}
				@include breakpoint(large) {
					width: 10%;
				}
			}
			&:nth-child(6) {
				font-weight: $fontWeight-bold;
				width: 20%;
				text-align: right;
				@include breakpoint(medium) {
					width: 15%;
				}
				@include breakpoint(large) {
					width: 10%;
				}
			}
		}
	}
	&.force-display {
		.product-table-header,
		.product-table-row {
			.product-table-col {
				width: 20%!important;
			}
		}
	}
}
.product-table-img {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	line-height: 1;
}