.my-circles-table {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			width: 12.5%;
			&:nth-child(1) {
				width: 15%;
				@include breakpoint(medium) {
					width: 10%;
				}
				@include breakpoint(large) {
					width: 7%;
				}
				@include breakpoint(xlarge) {
					width: 4.5%;
				}
			}
			&:nth-child(2) {
				width: 55%;
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(large) {
					width: 17%;
				}
				@include breakpoint(xlarge) {
					width: 14.5%;
				}
			}
			&:nth-child(3) {
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(large) {
					width: 21%;
				}
				@include breakpoint(xlarge) {
					width: 18.5%;
				}
			}
			&:nth-child(4) {
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(large) {
					width: 17%;
				}
				@include breakpoint(xlarge) {
					width: 14.5%;
				}
			}
			&:nth-child(5) {
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(large) {
					width: 12%;
				}
				@include breakpoint(xlarge) {
					width: 4.5%;
				}
			}
			&:nth-child(6) {
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(xlarge) {
					width: 22.5%;
				}
			}
			&:nth-child(7) {
				@include breakpoint(medium) {
					width: 25%;
				}
				@include breakpoint(large) {
					width: 13%;
				}
				@include breakpoint(xlarge) {
					width: 10.5%;
				}
			}
			&:nth-child(8) {
				width: 15%;
				@include breakpoint(large) {
					width: 13%;
				}
				@include breakpoint(xlarge) {
					width: 10.5%;
				}
			}
		}
	}
}