.product-table-container {
	overflow-x: auto;
	max-width: 1160px;
	width: 100%;
	.product-table-header {
		width: 1500px;
	}
	.product-table-row {
		display: table;
		width: 1500px;
		@include breakpoint(medium) {
			padding: 20px;
		}
		@include breakpoint(large) {
			padding: 30px;
		}
		@include breakpoint(xlarge) {
			width: 1500px;
		}
	}
}
.product-table-description {
	position: relative;
	top: -130px;
	background: $white;
	padding: 60px 70px 50px;
	box-shadow: 0px 19px 57px 0 rgba(65, 74, 87, 0.15);
	border-radius: 10px;
	font-size: $fontSize-small;
}
.product-table {
	display: table;
	width: 100%;
	border-radius: 10px;
	background: $white;
	color: $blue-dark;
	box-shadow: 0 2px 0 $gray-border;
	margin-bottom: 10px;
	.btn {
		margin: 0;
		span {
			display: none;
			@include breakpoint(medium) {
				display: inline;
			}
		}
		&[aria-expanded="true"] {
			i {
				transform: rotate(-135deg);
			}	
		}
	}
	input[type=radio] {
		display: none;
		+label {
			&:before {
				content: ' ';
				display: inline-block;
				width: 23px;
				height: 23px;
				background: none;
				border-radius: 50%;
				border: solid 1px $gray-border;
			}
		}
		&:checked {
			+label {
				&:before {
					border: solid 1px transparent;
					background: url('../images/success-icon.png') no-repeat;
				}
			}
		}
	}
	// input[type=radio]:checked ~ .check {
	// 	  border: 5px solid #0DFF92;
	// 	}

	// 	input[type=radio]:checked ~ .check::before{
	// 	  background: #0DFF92;
	// 	}

	// 	input[type=radio]:checked ~ label{
	// 	  color: #0DFF92;
	// 	}
}
.product-table-header {
	display: table;
	width: 100%;
	margin-top: 30px;
	padding: 10px 20px;
	@include breakpoint(medium) {
		padding: 10px 30px;
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-xsmall;
		vertical-align: middle;
		color: $gray-text;
		font-weight: $fontWeight-bold;
		@include breakpoint(medium) {
			font-size: $fontSize-small;
			vertical-align: top;
		}
		@include breakpoint(medium) {
			font-size: $fontSize-small;
			vertical-align: top;
		}
		&:last-child {
			text-align: right;
		}
	}
}
.product-table-row {
	display: table;
	width: 100%;
	padding: 10px 20px;
	@include breakpoint(medium) {
		padding: 20px;
	}
	@include breakpoint(large) {
		padding: 30px;
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-small;
		vertical-align: middle;
		padding: 5px;
		@include breakpoint(medium) {
			vertical-align: top;
		}
		&:last-child {
			text-align: right;
		}
	}
}
.product-table-subrow {
	@include breakpoint(medium) {
		padding: 20px;
	}
	@include breakpoint(large) {
		padding: 30px;
		border-top: solid 1px $gray-border;
	}
	&.collapse.in {
		display: block;
		width: 100%;
	}
	span {
		color: $gray-text;
		font-weight: $fontWeight-bold;
		float: left;
		margin-right: 10px;
		width: 100px;
		@include breakpoint(medium) {
			width: 20%;
		}
		@include breakpoint(large) {
			width: auto;
		}
		+p {
			overflow: hidden;
		}
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-small;
		width: 100%;
		vertical-align: middle;
		padding: 5px;
		@include breakpoint(medium) {
			vertical-align: top;
		}
		@include breakpoint(large) {
			width: 50%;
			border-top: none;
			float: left;
		}
		&:first-child {
			border-top: solid 1px $gray-border;
			@include breakpoint(large) {
				border-top: none;
			}
		}
	}
}
.product-table-img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}
.product-table-disabled {
	opacity: .4;
}
.product-table-text {
	color: $gray-text;
	font-size: $fontSize-xsmall;
	float: left;
	margin-top: 5px;
	line-height: 1.4;
	a {
		color: $blue-dark;
	}
}
.status {
	&:before {
		content: ' ';
		position: relative;
		display: inline-block;
		top: -2px;
		margin-right: 10px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $color-primary;
	}
	&.status_active {
		&:before {
			background: $color-secondary;
		}
	}
}
.product-table-main {
	.product-table-header,
	.product-table-row {
		.product-table-img {
			margin-right: 10px;
		}
		.product-table-col {
			width: 33.33333%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(medium) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
			&:nth-child(3) {
				width: 30%;
				@include breakpoint(medium) {
					width: 20%;
				}
				@include breakpoint(large) {
					width: 16.66666%;
				}
				@include breakpoint(xlarge) {
					width: 14.28571%;
				}
			}
			&:nth-child(5) {
				width: 33.33333%;
				@include breakpoint(medium) {
					width: 20%;
				}
				@include breakpoint(large) {
					width: 16.66666%;
				}
				@include breakpoint(xlarge) {
					width: 14.28571%;
				}
			}
			&:nth-child(6) {
				width: 30%;
				text-align: right;
				@include breakpoint(medium) {
					width: 20%;
				}
				@include breakpoint(large) {
					width: 16.66666%;
				}
				@include breakpoint(xlarge) {
					width: 14.28571%;
				}
			}
			&:nth-child(7) {
				width: 6.33333%;
				@include breakpoint(medium) {
					width: 20%;
				}
				@include breakpoint(large) {
					width: 16.66666%;
				}
				@include breakpoint(xlarge) {
					width: 14.28571%;
				}
			}
		}
	}		
	&.force-display {
		.product-table-header,
		.product-table-row {
			.product-table-col {
				width: 14.28571%!important;
			}
		}
	}
}
.force-display {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			&.hidden-xs,
			&.hidden-sm,
			&.hidden-lg {
				display: inline-block!important;
			}
		}
	}
}
