.product-table-description {
	position: relative;
	top: -130px;
	background: $white;
	padding: 60px 70px 50px;
	box-shadow: 0px 19px 57px 0 rgba(65, 74, 87, 0.15);
	border-radius: 10px;
	font-size: $fontSize-small;
}
.product-table {
	display: table;
	width: 100%;
	border-radius: 10px;
	background: $white;
	padding: 10px;
	color: $blue-dark;
	box-shadow: 0 2px 0 $gray-border;
	margin-bottom: 10px;
	.btn {
		margin: 0;
		span {
			display: none;
			@include breakpoint(medium) {
				display: inline;
			}
		}
		&[aria-expanded="true"] {
			i {
				transform: rotate(-135deg);
			}	
		}
	}
}
.product-table-header {
	display: table;
	width: 100%;
	padding: 0 10px;
	@include breakpoint(medium) {
		padding: 0 20px;
	}
	@include breakpoint(medium) {
		padding: 0 30px;
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-xxsmall;
		width: 33.33333%;
		vertical-align: middle;
		padding: 5px;
		color: $gray-text;
		font-weight: $fontWeight-bold;
		@include breakpoint(medium) {
			font-size: $fontSize-small;
			width: 20%;
			vertical-align: top;
		}
		@include breakpoint(medium) {
			font-size: $fontSize-small;
			width: 16.66666%;
			vertical-align: top;
		}
		@include breakpoint(xlarge) {
			width: 14.28571%;
		}
		&:nth-child(3) {
			width: 30%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(5) {
			width: 33.33333%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(6) {
			width: 30%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(7) {
			width: 6.33333%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
	}
}
.product-table-row {
	display: table;
	width: 100%;
	@include breakpoint(medium) {
		padding: 20px;
	}
	@include breakpoint(large) {
		padding: 30px;
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-small;
		vertical-align: middle;
		padding: 5px;
		@include breakpoint(medium) {
			width: 20%;
			vertical-align: top;
		}
		@include breakpoint(large) {
			width: 16.66666%;
			}		@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		&:nth-child(1) {
			@include breakpoint(medium) {
				font-weight: $fontWeight-bold;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(3) {
			width: 30%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(5) {
			width: 33.33333%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(6) {
			width: 30%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
		&:nth-child(7) {
			width: 6.33333%;
			@include breakpoint(medium) {
				width: 20%;
			}
			@include breakpoint(large) {
				width: 16.66666%;
			}
			@include breakpoint(xlarge) {
				width: 14.28571%;
			}
		}
	}
}
.product-table-subrow {
	@include breakpoint(medium) {
		padding: 20px;
	}
	@include breakpoint(large) {
		padding: 30px;
		border-top: solid 1px $gray-border;
	}
	&.collapse.in {
		display: block;
		width: 100%;
	}
	span {
		color: $gray-text;
		font-weight: $fontWeight-bold;
		float: left;
		margin-right: 10px;
		width: 100px;
		@include breakpoint(medium) {
			width: 20%;
		}
		@include breakpoint(large) {
			width: auto;
		}
		+p {
			overflow: hidden;
		}
	}
	.product-table-col {
		display: inline-block;
		font-size: $fontSize-small;
		width: 100%;
		vertical-align: middle;
		padding: 5px;
		@include breakpoint(medium) {
			vertical-align: top;
		}
		@include breakpoint(large) {
			width: 50%;
			border-top: none;
			float: left;
		}
		&:first-child {
			border-top: solid 1px $gray-border;
			@include breakpoint(large) {
				border-top: none;
			}
		}
	}
}