.referral {
	position: relative;
	background: url("../images/referral.png") center no-repeat;
	padding: 360px 0;
	@include breakpoint(large) {
		background: url("../images/referral-1.png") center no-repeat;
		padding: 385px 0;
		min-height: 742px;
	}
}
.referral-letsget {
	padding: 135px 0;
	@include breakpoint(large) {
		background: url("../images/referral-2.png") center no-repeat;
		padding: 315px 0;
	}
}
.referral-title {
	text-align: center;
	color: $white; 
	max-width: 300px;
	margin: 0 auto 30px;
	font-size: 36px;
	font-family: $font-second;
	line-height: 1;
	@include breakpoint(large) {
	}
}
.referral-text {
	font-size: $fontSize-small;
	text-align: center;
	max-width: 400px;
	color: $white;
	margin: 0 auto 70px;
}
.referral-action {
	text-align: center;
}
.referral-item {
    background: $white;
    border-radius: 50%;
    padding: 35px;
    position: absolute;
    text-align: center;
    box-shadow: 0px 19px 57px 0 rgba(65, 74, 87, 0.15);
    font-size: $fontSize-small;
    &.referral-item__link {
    	top: 0;
    	left: 50%;
    	margin-left: -160px;
    }
    &.referral-item__credits {
    	bottom: 60px;
    	left: 5%;
    	@include breakpoint(xlarge) {
    		left: 15%;
    	}
    }
    &.referral-item__referral {
    	bottom: 60px;
    	right: 5%;
    	@include breakpoint(xlarge) {
    		right: 15%;
    	}
    }
}
.referral-item__link {
	width: 320px;
    height: 320px;
	.referral-item__img {
		background: url('../images/link.svg') no-repeat center;
		width: 47px;
		height: 47px;
		margin: 0 auto 20px;
	}
}
.referral-item__credits {
	width: 220px;
    height: 220px;
    @include breakpoint(medium) {
    	width: 284px;
    	height: 284px;
    }
	.referral-item__img {
		background: url('../images/credits.svg') no-repeat center;
		width: 54px;
		height: 48px;
		margin: 0 auto 20px;
	}
}
.referral-item__referral {
	width: 220px;
    height: 220px;
    @include breakpoint(medium) {
    	width: 284px;
    	height: 284px;
    }
	.referral-item__img {
		background: url('../images/referral.svg') no-repeat center;
		width: 48px;
		height: 47px;
		margin: 0 auto 20px;
	}
}