.refferals-table {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			width: 50%;
			padding: 0 5px;
			&:nth-child(1) {
				width: 80%;
			}
			&:nth-child(2) {
				text-align: right;
				width: 20%;
			}
		}
	}
	.referral-status {
		padding: 3px 0 1px;
    	font-size: $fontSize-xxsmall;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-weight: $fontWeight-bold;
    	&.referral-status_gray {
    		color: $gray-text;
    	}
    	&.referral-status_green {
    		color: $green;
    	}
	}
	&.force-display {
		.product-table-header,
		.product-table-row {
			.product-table-col {
				width: 50%!important;
			}
		}
	}
}