.top-list-item {
	background: $white;
	border-radius: 10px;
	color: $blue-dark;
	padding: 30px;
	text-align: center;
	box-shadow: 0px -18px 0px -9px rgba(255,255,255,.5), 0px -36px 0px -18px rgba(255,255,255,.5);
	max-width: 330px;
	margin: 40px auto 10px;
}
.top-list-item_videohelper {
	background: url('../images/videohelper-bg.png') $white no-repeat;
	max-width: none;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 30px;
			text-align: left;
			a {
				font-weight: $fontWeight-bold;
				font-size: $fontSize-small;
				color: $blue-dark;
			}
		}
	}
}
.top-list__play {
  display: block;
  width: 90px;
  height: 90px;
  background: $color-secondary;
  cursor: pointer;
  box-shadow: 0px 4px 5px 0 rgba(57, 135, 228, 0.52);
  border-radius: 50%;
  margin-top: 90px;
  @include breakpoint(medium) {
  	margin-top: 75px;
  }
  span {
    margin: 0 auto;
    display: block;
    top: 35%;
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid $white;
  }
}
.top-list-img {
	margin: 0 auto;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 30px;
}
.top-list-title {
	font-family: $font-second;
	font-size: $fontSize-larger;
	padding: 0 0 20px;
	border-bottom: solid 1px $gray-table-border;
	margin-bottom: 30px;
	line-height: 1;
}
.top-list-text {
	height: 130px;
	overflow: hidden;
	margin-bottom: 50px;
	font-size: $fontSize-small;
}
.top-list-members {
	display: inline-block;
	color: $color-secondary;
	font-family: $font-second;
	letter-spacing: 1px;
	font-size: $fontSize-xxsmall;
	text-transform: uppercase;
	text-align: left;
	overflow: hidden;
	float: left;
}
.top-list-join {
	display: inline-block;
	float: right;
	line-height: 1;
	.btn {
		margin: 0;
		padding: 0;
	}
}