.user-management-table {
	.product-table-header,
	.product-table-row {
		.product-table-col {
			width: 16.66666%;
			padding: 0 5px;
			&:nth-child(1) {
				width: 55%;
				@include breakpoint(large) {
					width: 25%;
				}
			}
			&:nth-child(2) {
				@include breakpoint(large) {
					width: 25%;
				}
			}
			&:nth-child(3) {
				@include breakpoint(large) {
					width: 20%;
				}
			}
			&:nth-child(4) {
				width: 10%;
			}
			&:nth-child(5) {
				width: 10%;
			}
			&:nth-child(6) {
				width: 10%;
			}
		}
	}
}
