<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
    <header class="header header-admin">
    <div class="container header-container">
        <div class="header-admin-logo">
            <div class="header-logo">
                <img src="../../images/logo.svg">
            </div>
        </div>
        <div class="header-admin-nav">
            <nav class="header-nav">
                <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </nav>
            <div class="header-title">My requests</div>
            <nav class="header-nav header-menu clearfix">
                <ul>
                    <li class="active"><a href="#">products</a></li>
                    <li><a href="#">portfolio</a></li>   
                    <li><a href="#">risk management</a></li>
                    <li><a href="#">user management</a></li>                
                </ul>
            </nav>
        </div>
        <div class="hidden-xs header-admin-profile">
            <div class="header-profile">
                <div class="header-profile-name hidden-sm hidden-md">
                    <a href="#">Margaret Mead</a>
                </div>
                <div class="header-profile-userpic">
                    <a href="#"><img src="../../images/userpic.png"></a>
                </div>
                <div class="header-profile-link">
                    <a href="#"></a>
                </div>
                <div class="profile-links">
                    <ul>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Log-Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

    <main>
<section class="siteSection siteSection--gray">
    <div class="container">
        <h2 class="u-text--center">Creating store</h2>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Store name</label>
                            <input type="text" id="cname" name="cname" placeholder="For example: Liability circle">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Company name</label>
                            <input type="text" id="" name="" placeholder="Etherium">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label for="cname">Rignts and privilege</label>
                        <div class="form-item">
                            <input type="text" id="e" name="" placeholder="Rignts and privilege">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item clearfix">
                            <div class="file_upload">
                                <input type="file" name="">
                                <span>Drag & Drop or <a href="#">Browse</a></span>
                            </div>
                            <span>We support JPG and PNG files. Make sure that your files is no more than 500 kb.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Store manager name</label>
                            <input type="text" id="cname" name="cname" placeholder="John">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Store manager last name  </label>
                            <input type="text" id="cname" name="cname" placeholder="Dou">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Phone number</label>
                            <input type="text" id="cname" name="cname" placeholder="469-290-2345">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Email</label>
                            <input type="text" id="cname" name="cname" placeholder="JohnDou@gmail.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="clearfix">
                <div class="pull-left"><a href="#" class="btn">back</a></div>
                <div class="pull-right"><a href="#" class="btn btn-primary">create store</a></div>
            </div>
        </div>
    </div>
</section>
    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>

