<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
<header class="header header-admin">
    <div class="header-info hidden-xs">
        <div class="container header-container">
            <div class="col-sm-4 col-md-6 col-lg-7 col-lg-offset-2 col-md-offset-3">
                <div class="header-search">
                    <form role="search" method="get" class="search-form" action=""> <input type="text" class="search-field" placeholder="Search insurance products..." value="" name="s" /> <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button> </form>
                </div>   
            </div>
            <div class="col-sm-8 col-md-3 hidden-xs">
                <div class="header-info__item header-info__item-phone">
                    <a href="tel:800-123-5678">800-123-5678</a>
                </div>
            </div>
        </div>
    </div>
        <div class="container header-container">
            <div class="header-admin-logo">
                <div class="header-logo">
                    <img src="../../images/logo.svg">
                </div>
            </div>
            <div class="header-admin-nav">
                <nav class="header-nav">
                    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </nav>
                <div class="header-title">My requests</div>
                <nav class="header-nav header-menu clearfix">
                    <ul>
                        <li class="active"><a href="#">personal data</a></li>
                        <li><a href="#">my policies</a></li>
                        <li><a href="#">my claims</a></li>
                        <li><a href="#">My circles</a></li>
                        <li><a href="#">my referral</a></li>
                        <li><a href="#">my invitations </a></li>
                        <li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
                    </ul>
                </nav>
            </div>
            <div class="hidden-xs header-admin-profile">
                <div class="header-profile">
                    <div class="header-profile-name hidden-sm hidden-md">
                        <a href="#">Margaret Mead</a>
                    </div>
                    <div class="header-profile-userpic">
                        <a href="#"><img src="../../images/userpic.png"></a>
                    </div>
                    <div class="header-profile-link">
                        <a href="#"></a>
                    </div>
                    <div class="profile-links">
                        <ul>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Log-Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <main>

<section class="siteSection siteSection--gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                 <div class="form-item">
                    <select class="js-select2 select2-white" name="states[]" multiple="multiple">
                      <option value="first">Member</option>
                      <option value="second">Member</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="my-invitations-table">
            <div class="product-table-header">
                <div class="product-table-col">
                    Name and Description
                </div>
                <div class="product-table-col hidden-xs hidden-sm">
                    Category
                </div>
                <div class="product-table-col hidden-xs hidden-sm">
                    Policy
                </div>
                <div class="product-table-col hidden-xs">
                    Creator
                </div>
                <div class="product-table-col">
                </div>
                <div class="product-table-col">
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col">
                        <div class="product-table-img">
                            <img src="../../images/table-logo.png" alt="">
                        </div>
                        <div class="product-table-name">
                            Ethereum circle 
                        </div>
                        <div class="product-table-text">
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and dislike to ...   <a href="#">Read more...</a></p>
                        </div>
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        General Liability Insurance
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        <a href="#">A1001</a>
                    </div>
                    <div class="product-table-col hidden-xs">
                        Methew Montgomery
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-primary btn--small">
                          accept
                        </a>
                        <a class="btn btn-default-blue btn--small">
                          decline
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>
