<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
<header class="header header-admin">
    <div class="header-info hidden-xs">
        <div class="container header-container">
            <div class="col-sm-4 col-md-6 col-lg-7 col-lg-offset-2 col-md-offset-3">
                <div class="header-search">
                    <form role="search" method="get" class="search-form" action=""> <input type="text" class="search-field" placeholder="Search insurance products..." value="" name="s" /> <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button> </form>
                </div>   
            </div>
            <div class="col-sm-8 col-md-3 hidden-xs">
                <div class="header-info__item header-info__item-phone">
                    <a href="tel:800-123-5678">800-123-5678</a>
                </div>
            </div>
        </div>
    </div>
        <div class="container header-container">
            <div class="header-admin-logo">
                <div class="header-logo">
                    <img src="../../images/logo.svg">
                </div>
            </div>
            <div class="header-admin-nav">
                <nav class="header-nav">
                    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </nav>
                <div class="header-title">My requests</div>
                <nav class="header-nav header-menu clearfix">
                    <ul>
                        <li class="active"><a href="#">personal data</a></li>
                        <li><a href="#">my policies</a></li>
                        <li><a href="#">my claims</a></li>
                        <li><a href="#">My circles</a></li>
                        <li><a href="#">my referral</a></li>
                        <li><a href="#">my invitations </a></li>
                        <li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
                    </ul>
                </nav>
            </div>
            <div class="hidden-xs header-admin-profile">
                <div class="header-profile">
                    <div class="header-profile-name hidden-sm hidden-md">
                        <a href="#">Margaret Mead</a>
                    </div>
                    <div class="header-profile-userpic">
                        <a href="#"><img src="../../images/userpic.png"></a>
                    </div>
                    <div class="header-profile-link">
                        <a href="#"></a>
                    </div>
                    <div class="profile-links">
                        <ul>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Log-Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <main>

<section class="siteSection siteSection--gray siteSection--noPad">
    <div class="container">
        <?php require('blocks/partials/breadcrumbs.html'); ?>
    </div>
</section>
<section class="siteSection siteSection--gray">
    <div class="container">
        <h2 class="u-text--center">Ethereum circle</h2>
        <div class="form-container">
            <div class="details-item__name">
                <img src="../../images/bitcoin.png">Private
            </div>
            <div class="details-item__text">
                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and dislike to righteous indignation.
            </div>
        </div>
        <div class="form-container">
            <div class="details-item clearfix">
                <div class="details-item__label">Administrator</div>
                <div class="details-item__content">Methew Dou</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Category</div>
                <div class="details-item__content">Genegal liability</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Subcategory</div>
                <div class="details-item__content">General liability subcategory</div>
            </div>
        </div>
        <div class="form-container form-container--transparent">     
                <div class="circle-details-table">
                    <div class="product-table-header">
                        <div class="product-table-col">
                            Circle name
                        </div>
                        <div class="product-table-col">
                            Category
                        </div>
                        <div class="product-table-col">
                            Creator
                        </div>
                    </div>
                    <div class="product-table">
                        <div class="product-table-row">
                            <div class="product-table-col">
                                <div class="product-table-img">
                                    <img src="../../images/table-logo.png" alt="">
                                </div>
                                <div class="product-table-name">    
                                    Russell West
                                </div>
                            </div>
                            <div class="product-table-col">
                                Computer projects manager
                            </div>
                            <div class="product-table-col">
                                <a  href="#price-form" class="btn btn-default btn--small js-count-popup">message</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-table">
                        <div class="product-table-row">
                            <div class="product-table-col">
                                <div class="product-table-img">
                                    <img src="../../images/table-logo.png" alt="">
                                </div>
                                John Dou
                            </div>
                            <div class="product-table-col">
                                Computer projects manager
                            </div>
                            <div class="product-table-col">
                                <a  href="#price-form" class="btn btn-default btn--small js-count-popup">message</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<div id="price-form" class="mfp-hide white-popup-block sitePopUp">
    <form action="" class="pbz_form clear-styles"
        data-error-title="Ошибка отправки"
        data-error-message="Попробуйте отправить заявку через некоторое время"
        data-success-title="Спасибо за заявку"
        data-success-message="Наш менеджер свяжется с вами в ближайшее время"
    >
        <button title="%title%" type="button" class="mfp-close">&#215;</button>
        <div class="clearfix">
            <div class="popup-img">
                <img src="../../images/table-logo.png" alt="">
            </div>
            <div class="popup-content">
                <div class="popup-name">
                    Jane Duncan
                </div>
                <div class="popup-text">
                    Computer system operation manager
                </div>
            </div>
        </div>
        <fieldset style="border:0;">
            <div class="form">
                <div class="form-item">
                    <label for="cname">Message</label>
                    <textarea></textarea>
                </div>
            </div>
            <div class="u-text--right"><button type="submit" class="btn btn-primary">send </button></div>
        </fieldset>
    </form>
</div>

    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>
