<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>
<header class="header header-wizard">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="header-logo-wizard">
                    <img src="../../images/logo-white-1.png">
                </div>
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10">
                <div class="header-wizard-step">
                    step 1 of 4
                </div>
                <div class="header-wizard-title">
                    Professional liability
                </div>
                <div class="header-wizard-steplist">
                    <ul>
                        <li class="done">Request quote</li>
                        <li class="active">Choosing product</li>
                        <li>Policy details</li>
                        <li>Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<main>

<section class="siteSection siteSection--gray siteSection--noPad">
    <div class="container">
        <?php require('blocks/partials/breadcrumbs.html'); ?>
    </div>
</section>
<section class="siteSection siteSection--gray siteSection--bg">
    <div class="container">
        <h2 class="u-text--center">Choose your payment method</h2>
        <div class="subheader u-text--center">Choose your payment method</div>
        <div class="form-container form-container--transparent">
            <div class="form">
                <div class="card-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card-container-item">
                                <input type="radio" id="mastercard" name="card-choice">
                                
                                <label for="mastercard">Credit card</label>
                                <div class="card-container__checkbox"></div>
                                <img src="../../images/visa.png">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-container-item">
                                <input type="radio" id="paypal" name="card-choice">

                                <label for="paypal">PayPal</label>
                                <div class="card-container__checkbox"></div>
                                <img src="../../images/paypal.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Card number</label>
                            <input type="text" id="cname" name="cname" placeholder="41551 3283 657 9567">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label for="cname">Expiration date</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-item">
                            <select class="js-select2-multiple" name="states[]" multiple="multiple">
                              <option value="first">March</option>
                              <option value="second">April</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-item">
                            <select class="js-select2-multiple" name="states[]" multiple="multiple">
                              <option value="first">2028</option>
                              <option value="second">2029</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Security code</label>
                            <input type="text" id="cname" name="cname" placeholder="39756025">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="clearfix">
                <div class="pull-left"><a href="#" class="btn">back</a></div>
                <div class="pull-right"><a href="#" class="btn btn-primary">purchase product</a></div>
                <div class="clearfix">
                    <div class="form-tooltip pull-right">
                        By clicking the button you agree to the <a href="#">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="details-item clearfix">
                <div class="details-item__name">
                    <img src="../../images/bitcoin.png">Ethereum circle
                </div>
                <div class="details-item__text">
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and dislike to righteous indignation.
                </div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Category</div>
                <div class="details-item__content">General liability</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Subcategory</div>
                <div class="details-item__content">General liability subcategory</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Price </div>
                <div class="details-item__content"><strong>$294</strong></div>
            </div>
        </div>
    </div>
</section>

</main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>


    </body>
</html>