<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
<header class="header header-wizard">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="header-logo-wizard">
                    <img src="../../images/logo-white-1.png">
                </div>
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10">
                <div class="header-wizard-step">
                    step 1 of 4
                </div>
                <div class="header-wizard-title">
                    Professional liability
                </div>
                <div class="header-wizard-steplist">
                    <ul>
                        <li class="done">Request quote</li>
                        <li class="active">Choosing product</li>
                        <li>Policy details</li>
                        <li>Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


    <main>

<section class="siteSection siteSection--gray siteSection--noPad">
    <div class="container">
        <?php require('blocks/partials/breadcrumbs.html'); ?>
    </div>
</section>
<section class="siteSection siteSection--gray siteSection--bg">
    <div class="container">
        <div class="form-container form-container--transparent">
            <div class="success-icon"></div>
            <h2 class="u-text--center">Thank you !<br>Your order has been received</h2>
            <div class="subheader u-text--center">You will receive your policy on your email within 8 hours and can check the policy on your account.</div>
        </div>
        <div class="form-container">
            <div class="details-item clearfix">
                <div class="details-item__label">Policy number </div>
                <div class="details-item__content">A1001</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Subcategory</div>
                <div class="details-item__content">General liability</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Expiration date</div>
                <div class="details-item__content">2018 SE 28</div>
            </div>
        </div>
        <div class="form-container">
            <div class="details-item clearfix">
                <div class="details-item__label">Payment method </div>
                <div class="details-item__content">Credit card</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Billing address</div>
                <div class="details-item__content">John Dou, Dou associate LTD, Str Furtune, 24, 
Ontario, 21457</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Customer email</div>
                <div class="details-item__content">JohnDou@gmail.com</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Card number</div>
                <div class="details-item__content">Visa x-0854</div>
            </div>
        </div>      
        <div class="form-container">
            <div class="details-item clearfix">
                <div class="details-item__name">
                    <img src="../../images/bitcoin.png">Ethereum circle
                </div>
                <div class="details-item__text">
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and dislike to righteous indignation.
                </div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Category</div>
                <div class="details-item__content">General liability</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Subcategory</div>
                <div class="details-item__content">General liability subcategory</div>
            </div>
            <div class="details-item clearfix">
                <div class="details-item__label">Price </div>
                <div class="details-item__content"><strong>$294</strong></div>
            </div>
        </div>
        <div class="u-text--center"><a href="#" class="btn">check the policy</a></div>
    </div>
</section>


    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>