<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="header-logo">
                    <img src="../../images/logo.svg">
                </div>
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="header-info hidden-xs">
                    <div class="header-info__item header-info__item-address hidden-sm">
                        Quebec, 32 street, 56
                    </div>
                    <div class="header-info__item header-info__item-email">
                        <a href="mailto:sales@peercircle.com">sales@peercircle.com</a>
                    </div>
                    <div class="header-info__item header-info__item-phone">
                        <a href="tel:800-123-5678">800-123-5678</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4 col-md-offset-3">
                <nav class="header-nav">
                    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>

                </nav>
            </div>
            <nav class="header-nav header-menu clearfix">
                <ul>
                    <li class="phone-link"><a href="tel:800-123-5678">800-123-5678</a></li>
                    <li><a href="#">INSURANCE</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">CLAIMS</a></li>
                    <li><a href="#">for partners</a></li>
                    <li><a href="#" class="btn btn-secondary btn-login">login</a></li>
                </ul>
            </nav>
            <div class="col-sm-9 col-md-5 hidden-xs">
                <div class="header-action">
                    <a href="#" class="btn btn-secondary">for partners</a>
                    <a href="#" class="btn btn-secondary btn-login">login</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
<!--Markup for one row (no sidebar)-->
<section class="siteSection siteSection--teaser">
    <div class="teaser clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-6">
                    <h1 class="teaser__title">Insurance. Your way.</h1>
                    <div class="teaser__text">Easy. Fast. Less expensive.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="teaser-input">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <button class="btn btn-primary" type="button">search products</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="benefits clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_first">
                            <div class="benefit__title">
                                Professional <br>Liability
                            </div>
                            <div class="benefit__text">
                                120 companies <br>from <strong>15$</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_second">
                            <div class="benefit__title">
                                General <br>Liability
                            </div>
                            <div class="benefit__text">
                                31 companies <br>from <strong>15$</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_third">
                            <div class="benefit__title">
                                Directors <br>& Officers
                            </div>
                            <div class="benefit__text">
                                31 companies <br>from <strong>15$</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_forth">
                            <div class="benefit__title">
                                Errors <br>& Omissions
                            </div>
                            <div class="benefit__text">
                                23 companies <br>from <strong>15$</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_fifth">
                            <div class="benefit__title">
                                Cyber <br>Insurance
                            </div>
                            <div class="benefit__text">
                                42 companies <br>from <strong>15$</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="benefit benefit_sixth">
                            <div class="benefit__title">
                                See all <br>categories
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrolldown-item">

    </div>
</section>
<section class="siteSection siteSection--gray">
    <div class="container">
        <h1>List of top products</h1>
        <div class="clearfix">
            <div class="pull-right">
                <a class="btn btn-primary btn--small" role="button" data-toggle="collapse" href=".product-table-subrow" aria-expanded="false" aria-controls="product-table-subrow">display all</a>
            </div>
        </div>
        <div class="product-table-container">
            <div class="product-table-header">
                <div class="product-table-col hidden-xs">
                    Company
                </div>
                <div class="product-table-col hidden-xs hidden-sm">
                    Product
                </div>
                <div class="product-table-col">
                    Subcategory
                </div>
                <div class="product-table-col hidden-xs hidden-sm hidden-md">
                    Region
                </div>
                <div class="product-table-col">
                    Avg. Price
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col hidden-xs">
                        <img src="../../images/company-img.png" alt="">Ethereum
                        <?php require('blocks/partials/rating.html'); ?> 
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        Medi + Cover
                    </div>
                    <div class="product-table-col">
                        General liability
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm hidden-md">
                        Ontario
                    </div>
                    <div class="product-table-col">
                        <strong>$1500/mon</strong>
                    </div>
                    <div class="product-table-col">
                        <a href="#" class="btn btn-primary btn--small">buy</a>
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-default btn--small" role="button" data-toggle="collapse" href="#row1" aria-expanded="false" aria-controls="row1">
                          <span>details</span><i class="arrow down"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse product-table-subrow clearfix" id="row1">
                    <div class="product-table-col">
                        <span>Description:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                    <div class="product-table-col">
                        <span>Terms and conditions:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col hidden-xs">
                        <img src="../../images/company-img.png" alt="">Ethereum
                        <?php require('blocks/partials/rating.html'); ?> 
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        Medi + Cover
                    </div>
                    <div class="product-table-col">
                        General liability
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm hidden-md">
                        Ontario
                    </div>
                    <div class="product-table-col">
                        <strong>$1500/mon</strong>
                    </div>
                    <div class="product-table-col">
                        <a href="#" class="btn btn-primary btn--small">buy</a>
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-default btn--small" role="button" data-toggle="collapse" href="#row2" aria-expanded="false" aria-controls="row2">
                          <span>details</span><i class="arrow down"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse product-table-subrow clearfix" id="row2">
                    <div class="product-table-col">
                        <span>Description:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                    <div class="product-table-col">
                        <span>Terms and conditions:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col hidden-xs">
                        <img src="../../images/company-img.png" alt="">Ethereum
                        <?php require('blocks/partials/rating.html'); ?> 
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        Medi + Cover
                    </div>
                    <div class="product-table-col">
                        General liability
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm hidden-md">
                        Ontario
                    </div>
                    <div class="product-table-col">
                        <strong>$1500/mon</strong>
                    </div>
                    <div class="product-table-col">
                        <a href="#" class="btn btn-primary btn--small">buy</a>
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-default btn--small" role="button" data-toggle="collapse" href="#row3" aria-expanded="false" aria-controls="row3">
                          <span>details</span><i class="arrow down"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse product-table-subrow clearfix" id="row3">
                    <div class="product-table-col">
                        <span>Description:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                    <div class="product-table-col">
                        <span>Terms and conditions:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col hidden-xs">
                        <img src="../../images/company-img.png" alt="">Ethereum
                        <?php require('blocks/partials/rating.html'); ?> 
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        Medi + Cover
                    </div>
                    <div class="product-table-col">
                        General liability
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm hidden-md">
                        Ontario
                    </div>
                    <div class="product-table-col">
                        <strong>$1500/mon</strong>
                    </div>
                    <div class="product-table-col">
                        <a href="#" class="btn btn-primary btn--small">buy</a>
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-default btn--small" role="button" data-toggle="collapse" href="#row4" aria-expanded="false" aria-controls="row4">
                          <span>details</span><i class="arrow down"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse product-table-subrow clearfix" id="row4">
                    <div class="product-table-col">
                        <span>Description:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                    <div class="product-table-col">
                        <span>Terms and conditions:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-row">
                    <div class="product-table-col hidden-xs">
                        <img src="../../images/company-img.png" alt="">Ethereum
                        <?php require('blocks/partials/rating.html'); ?> 
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm">
                        Medi + Cover
                    </div>
                    <div class="product-table-col">
                        General liability
                    </div>
                    <div class="product-table-col hidden-xs hidden-sm hidden-md">
                        Ontario
                    </div>
                    <div class="product-table-col">
                        <strong>$1500/mon</strong>
                    </div>
                    <div class="product-table-col">
                        <a href="#" class="btn btn-primary btn--small">buy</a>
                    </div>
                    <div class="product-table-col">
                        <a class="btn btn-default btn--small" role="button" data-toggle="collapse" href="#row5" aria-expanded="false" aria-controls="row5">
                          <span>details</span><i class="arrow down"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse product-table-subrow clearfix" id="row5">
                    <div class="product-table-col">
                        <span>Description:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                    <div class="product-table-col">
                        <span>Terms and conditions:</span>
                        <p>Comprehensive liability coverage for medical professionals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="siteSection siteSection--blue">
    <div class="container">
        <h1 class="u-text--center">List of top Peer Circles </h1>
        <div class="col-xs-12 col-md-4">
            <div class="top-list-item">
                <div class="top-list-img">
                    <img src="../../images/top-list-img.png" alt="">
                </div>
                <div class="top-list-title">
                    Auto unsurance circle
                </div>
                <div class="top-list-text">
                    I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings great explorer.          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,
                </div>
                <div class="top-list-action clearfix">
                    <div class="top-list-join">
                        <a href="#" class="btn btn-default btn--small">join circle</a>
                    </div>
                    <div class="top-list-members">
                        25 members
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="top-list-item">
                <div class="top-list-img">
                    <img src="../../images/top-list-img.png" alt="">
                </div>
                <div class="top-list-title">
                    Auto unsurance circle
                </div>
                <div class="top-list-text">
                    I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings great explorer.          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,
                </div>
                <div class="top-list-action clearfix">
                    <div class="top-list-join">
                        <a href="#" class="btn btn-default btn--small">join circle</a>
                    </div>
                    <div class="top-list-members">
                        25 members
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="top-list-item">
                <div class="top-list-img">
                    <img src="../../images/top-list-img.png" alt="">
                </div>
                <div class="top-list-title">
                    Auto unsurance circle
                </div>
                <div class="top-list-text">
                    I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings great explorer.          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,
                </div>
                <div class="top-list-action clearfix">
                    <div class="top-list-join">
                        <a href="#" class="btn btn-default btn--small">join circle</a>
                    </div>
                    <div class="top-list-members">
                        25 members
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrolldown-item scrolldown-item_white">

    </div>
</section>

<section class="siteSection siteSection--benefits">
    <div class="container">
        <h1 class="u-text--center">Why should you use Peer Circle</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="benefits-list-item">
                    <div class="benefits-list-item__img benefits-list-item__market">
                    </div>
                    <div class="benefits-list-item__title">
                        Easy-to-use market place
                    </div>
                    <div class="benefits-list-item__text">
                        Peer Circle Insurance provides an easy-to-use on-line market place where you can buy all types of insurance  for your business. We make insurance relevant, rewarding, and easy to understand.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="benefits-list-item">
                    <div class="benefits-list-item__img benefits-list-item__credit">
                    </div>
                    <div class="benefits-list-item__title">
                        10% credit
                    </div>
                    <div class="benefits-list-item__text">
                        We offer 10% “bring-your-policy” credit for first-time users who transfer their existing policies over to Peer Circle
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="benefits-list-item">
                    <div class="benefits-list-item__img benefits-list-item__discount">
                    </div>
                    <div class="benefits-list-item__title">
                        20% Discount
                    </div>
                    <div class="benefits-list-item__text">
                        Peer Circle allows the formation of peer groups to earn up to a 20% discount if your group experience is better than expected
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="benefits-list-item">
                    <div class="benefits-list-item__img benefits-list-item__referral">
                    </div>
                    <div class="benefits-list-item__title">
                        Referral program
                    </div>
                    <div class="benefits-list-item__text">
                         Refer friends, colleagues, or associates to us to earn credits
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="siteSection siteSection--noPad">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-6 how-works-container--overflow">
                <div class="how-works-container">
                    <div class="how-works">
                        <h1>How Peer Circle works</h1>
                        <p>Peer Circle allows you to form insurance groups with like-minded people. 
                        If a group's claim experience is better than expected at the end of the policy period, members within the group can earn up to a 20% rebate on their premium paid for the next year!</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class="row">   
                    <div class="col-xs-6">
                        <div class="how-text">
                            <div class="how-text-num">1</div>
                            <div class="how-text-title">Buy a policy</div>
                            <div class="how-text-content">
                                Buy a policy and submit claims all online
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="how-text">
                            <div class="how-text-num">2</div>
                            <div class="how-text-title">Join circle</div>
                            <div class="how-text-content">
                                Make a request to join a circle with the new policy
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-xs-6">
                        <div class="how-text">
                            <div class="how-text-num">3</div>
                            <div class="how-text-title">Confirmation</div>
                            <div class="how-text-content">
                                Wait for acceptance confirmation by the circle administrator
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="how-text">
                            <div class="how-text-num">4</div>
                            <div class="how-text-title">Rebate grow</div>
                            <div class="how-text-content">
                                Behave responsibly and watch your rebate grow in real time
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="siteSection">
    <div class="referral">
        <div class="referral-title">
            How Referral program works
        </div>
        <div class="referral-text hidden-xs hidden-sm">
            Rewarding referral programs make being a Peer Circle client even more attractive. By referring clients through your social network, you can earn referral points. 
            You can purchase insurance using your credit points 
            or convert them to other loyalty programs. 
            Watch your referral credits climb in your account. 
            It's our way of saying thank you.
        </div>
        <div class="referral-action">   
            <a href="#" class="btn btn-primary">generate link</a>
        </div>
        <div class="referral-item referral-item__link">
            <div class="referral-item__img referral-item__img__link">
            </div>
            <div class="referral-item__text">
                Create a link to Peer Circle's product or your circle. Send the link to your families or friends through your favourite social network apps
            </div>
        </div>
        <div class="referral-item referral-item__credits">
            <div class="referral-item__img referral-item__img__credits">
            </div>
            <div class="referral-item__text">
                Enjoy your new credits!
            </div>
        </div>
        <div class="referral-item referral-item__referral">
            <div class="referral-item__img referral-item__img__referral">
            </div>
            <div class="referral-item__text">
                Earn referral points when people buy insurance following your link
            </div>
        </div>
    </div>
</section>



</main>
</div>
    <footer class="footer">
        <div class="footer-search">
        	<div class="container">
        		<input type="search" placeholder="placeholder">
        		<label>For example, <span>CAR INSURANCE, POLICY</span></label>
        	</div>
        </div>
        <div class="footer-contact">
        	<div class="container">
        		<div class="row">
        			<div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
     		   			<div class="footer__title">
        					Main
        				</div>
        				<div class="footer-nav">
	        				<ul>
	        					<li><a href="#">Home</a></li>
								<li><a href="#">about us</a></li>
								<li><a href="#">blog </a></li>
								<li><a href="#">contact</a></li>
	        				</ul>
	        			</div>
        			</div>
        			<div class="col-xs-12 col-sm-6 col-md-4">
        				<div class="footer__title">
        					Insurance
        				</div>
        				<div class="footer__text">
        					<ul>
        						<li><a href="#">General Liability Insurance (CGL)</a></li>
								<li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
								<li><a href="#">Professional Liability Insurance</a></li>
								<li><a href="#">Directors and Officers Insurance (D&O)</a></li>
								<li><a href="#">Cyber Liability Insurance</a></li>
								<li><a href="#">Contents and Property Insurance</a></li>
								<li><a href="#">Commercial Vehicle Insurance</a></li>
							</ul>
        				</div>
        			</div>
        			<div class="col-xs-12 col-sm-6 col-md-4">
        				<div class="footer__title">
        					Contact
        				</div>
        				<div class="footer__contact">
        					sales@peercircle.com
							Quebek, 32 street, 56
        				</div>
        				<div class="footer__contact">
	        				9476 97847 8465 34
	        			</div>
	        			<img src="../../images/logo-white.png" alt="">
        			</div>
        		</div>
        	</div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
	<script src="../../js/vendor.min.js"></script>
	<script src="../../js/app.min.js"></script>


    </body>
</html>

