<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
<header class="header header-registration">
    <div class="container">
            <div class="header-logo">
                <a href="#"><img src="../../images/logo-2.png" alt=""></a>
            </div>
        </div>  
    </div>
</header>


    <main>


<section class="siteSection siteSection--gray">
    <div class="container">
        <h2 class="u-text--center">Register</h2>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Name *</label>
                            <input type="text" name="" placeholder="Methew">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="">Last name *</label>
                            <input type="text" name="" placeholder="Mackonahi">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="">Email Address *</label>
                            <input type="email" name="" placeholder="MethewMac@gmail.com">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="">Phone number *</label>
                            <input type="email" name="" placeholder="(xxx) xxx-xxxx">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="toggle-switch">
                          <input type="radio" name="" value="M" id="" class="register-switch-input" checked>
                          <label for="" class="register-switch-label">Male</label>
                          <input type="radio" name="" value="F" id="" class="register-switch-input">
                          <label for="" class="register-switch-label">Female</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-item">
                            <label for="cname">Password</label>
                            <input type="password" name="" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pass-strength">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li>A digit must occur at least once</li>
                        <li>A lower case letter must occur at least once</li>
                        <li>An upper case letter must occur at least once</li>
                        <li>Special character must occur at least once</li>
                        <li>No whitespace allowed in the entire string</li>
                        <li>At least 6 characters</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-item">
                            <label for="">Confirm password</label>
                            <input type="password" name="" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form">
                <div  class="clearfix">
                    <div class="pull-left"><a href="#" class="btn">back to login</a></div>
                    <div class="pull-right"><button type="submit" class="btn btn-primary" disabled>register</button></div>
                </div>
            </div>
        </div>
    </div>
</section>


    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>