<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>
<header class="header header-admin">
    <div class="header-info hidden-xs">
        <div class="container header-container">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-md-offset-3">
                    <div class="header-search">
                        <form role="search" method="get" class="search-form" action=""> <input type="text" class="search-field" placeholder="Search insurance products..." value="" name="s" /> <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button> </form>
                    </div>   
                </div>
                <div class="col-sm-8 col-md-3 hidden-xs">
                    <div class="header-info__item header-info__item-phone">
                        <a href="tel:800-123-5678">800-123-5678</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="header-logo">
                    <img src="../../images/logo.svg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-6 col-md-offset-3">
                <nav class="header-nav">
                    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </nav>
                <div class="header-title hidden-xs">My requests</div>
            
                <nav class="header-nav header-menu clearfix">
                    <ul>
                        <li class="active"><a href="#">personal data</a></li>
                        <li><a href="#">my policies</a></li>
                        <li><a href="#">my claims</a></li>
                        <li><a href="#">My circles</a></li>
                        <li><a href="#">my referral</a></li>
                        <li><a href="#">my invitations </a></li>
                        <li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
                    </ul>
                </nav>
            </div>
            <div class="col-sm-8 col-md-3 hidden-xs">
                <div class="header-profile">
                    <div class="header-profile-name hidden-sm">
                        <a href="#">Margaret Mead</a>
                    </div>
                    <div class="header-profile-userpic">
                        <a href="#"><img src="../../images/userpic.png"></a>
                    </div>
                    <div class="header-profile-link">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
<section class="siteSection siteSection--gray">
    <div class="container">
        <h2 class="u-text--center">Personal data</h2>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">First name</label>
                            <input type="text" id="cname" name="cname" placeholder="Margaret">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Last name</label>
                            <input type="text" id="cname" name="cname" placeholder="Mead">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-item clearfix">
                            <div class="file_upload">
                                <input type="file" name="">
                                <span>Drag & Drop or <a href="#">Browse</a></span>
                            </div>
                            <span>We support JPG and PNG files. Make sure that your files is no more than 500 kb.</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="form-item">
                            <div class="toggle-switch">
                              <input type="radio" name="sex" value="F" id="sex_f" class="register-switch-input" checked>
                              <label for="sex_f" class="register-switch-label">Male</label>
                              <input type="radio" name="sex" value="M" id="sex_m" class="register-switch-input">
                              <label for="sex_m" class="register-switch-label">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-item">
                            <label for="cname">Password</label>
                            <input type="text" id="cname" name="cname" placeholder="Has been updated 3 month`s ago"><a href="#" class="btn btn-default btn--small">Change</a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-item">
                                <label for="cname">Store manager last name  </label>
                                <input type="text" id="cname" name="cname" placeholder="Dou">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-item">
                                <div class="form-tip">If we have questions according to your quote</div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-item">
                                <label for="cname">E-mail  </label>
                                <input type="text" id="cname" name="cname" placeholder="Mar****@gmail.com">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-item">
                                <div class="form-tip">If we have questions according to your quote</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-item">
                            <label for="cname">City</label>
                            <select class="js-select2" name="state">
                              <option value="first">Lloydminster</option>
                              <option value="second">Lloydminster</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-item">
                            <label for="cname">Street</label>
                            <input type="text" id="cname" name="cname" placeholder="Sunshine Gardens">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-item">
                            <label for="cname">House</label>
                            <input type="text" id="cname" name="cname" placeholder="234">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-item">
                            <label for="cname">Flat</label>
                            <input type="text" id="cname" name="cname" placeholder="234">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-item">
                        <label for="cname">Beneficiary</label>
                        <select class="js-select2" name="state">
                          <option value="first">Beneficiary</option>
                          <option value="second">Beneficiary</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="clearfix">
                <div class="pull-left"><a href="#" class="btn">back</a></div>
                <div class="pull-right"><a href="#" class="btn btn-primary">Save Changes</a></div>
            </div>
        </div>
    </div>
</section>
</main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>


    </body>
</html>