<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="header-logo">
                    <img src="../../images/logo.png">
                </div>
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="header-info hidden-xs">
                    <div class="header-info__item header-info__item-address hidden-sm">
                        Quebec, 32 street, 56
                    </div>
                    <div class="header-info__item header-info__item-email">
                        <a href="mailto:sales@peercircle.com">sales@peercircle.com</a>
                    </div>
                    <div class="header-info__item header-info__item-phone">
                        <a href="tel:800-123-5678">800-123-5678</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4 col-md-offset-3">
                <nav class="header-nav">
                    <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>

                </nav>
            </div>
            <nav class="header-nav header-menu clearfix">
                <ul>
                    <li><a href="tel:800-123-5678">800-123-5678</a></li>
                    <li><a href="#">INSURANCE</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">CLAIMS</a></li>
                    <li><a href="#">for partners</a></li>
                    <li><a href="#" class="btn btn-secondary btn-login">login</a></li>
                </ul>
            </nav>
            <div class="col-sm-9 col-md-5 hidden-xs">
                <div class="header-action">
                    <a href="#" class="btn btn-secondary">for partners</a>
                    <a href="#" class="btn btn-secondary btn-login">login</a>
                </div>
            </div>
        </div>
    </div>
</header>



<section class="siteSection">
    <div class="container">
        <h1 class="u-text--center">Body Content NO sidebar</h1>
        <ul>
            <li><a href="home.html" target="_blank">Home Page</a></li>
            <li><a href="general-liability.html" target="_blank">General Liability</a></li>
            <li><a href="general-liability-request-quote.html" target="_blank">General Liability Request Quote</a></li>
            <li><a href="general liability_choosing product.html" target="_blank">General Liability Choosing Product</a></li>
            <li><a href="general liability_policy details.html" target="_blank">General Liability Policy Details</a></li>
            <li><a href="general liability_payment.html" target="_blank">General Liability Payment</a></li>
            <li><a href="general liability_ success payment.html" target="_blank">General Liability Success Payment</a></li>
            <li><a href="admin-successful-creating-store">admin-successful-creating-store</a></li>
            <li><a href="admin_creating_store">admin_creating_store</a></li>
            <li><a href="admin_regular_ policy details">admin_regular_ policy details</a></li>
            <li><a href="admin_regular_circle_details">admin_regular_circle_details</a></li>
            <li><a href="admin_regular_create_circle">admin_regular_create_circle</a></li>
            <li><a href="admin_regular_my invitations">admin_regular_my invitations</a></li>
            <li><a href="admin_regular_profile_my_circles">admin_regular_profile_my_circles</a></li>
            <li><a href="admin_regular_profile_my_policies">admin_regular_profile_my_policies</a></li>
            <li><a href="admin_request">admin_request</a></li>
            <li><a href="regular_personal data">regular_personal data</a></li>
            <li><a href="regular_refferals">regular_refferals</a></li>

            <li><a href="registration_reset_password">registration_reset_password</a></li>
            <li><a href="registration_successful_regestration">registration_successful_regestration</a></li>
            <li><a href="registration_successful_reset_password">registration_successful_reset_password</a></li>
            <li><a href="regular_authorization">regular_authorization</a></li>
            <li><a href="regular_forgot password">regular_forgot password</a></li>
            <li><a href="regular_registration">regular_registration</a></li>
            <li><a href="store manager_ create product_wording">store manager_ create product_wording</a></li>
            <li><a href="store manager_ create product_wording_filled">store manager_ create product_wording_filled</a></li>
            <li><a href="store manager_create_product_basic_info">store manager_create_product_basic_info</a></li>
            <li><a href="store manager_portfolio">store manager_portfolio</a></li>
            <li><a href="store manager_request to be a partner">store manager_request to be a partner</a></li>
            <li><a href="store manager_risk management">store manager_risk management</a></li>
            <li><a href="store manager_user management">store manager_user management</a></li>
            <li><a href="store_products">store_products</a></li>
        </ul>
    </div>
</section>



<footer class="footer">
    <div class="footer-search">
        <div class="container">
            <input type="search" placeholder="placeholder">
            <label>For example, <span>CAR INSURANCE, POLICY</span></label>
        </div>
    </div>
    <div class="footer-contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                    <div class="footer__title">
                        Main
                    </div>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">blog </a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer__title">
                        Insurance
                    </div>
                    <div class="footer__text">
                        <ul>
                            <li><a href="#">General Liability Insurance (CGL)</a></li>
                            <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                            <li><a href="#">Professional Liability Insurance</a></li>
                            <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                            <li><a href="#">Cyber Liability Insurance</a></li>
                            <li><a href="#">Contents and Property Insurance</a></li>
                            <li><a href="#">Commercial Vehicle Insurance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer__title">
                        Contact
                    </div>
                    <div class="footer__contact">
                        sales@peercircle.com
                        Quebek, 32 street, 56
                    </div>
                    <div class="footer__contact">
                        9476 97847 8465 34
                    </div>
                    <img src="../../images/logo-white.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/vendor/jquery-3.1.0.min.js"></script>
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>


    </body>
</html>
