<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
        <link rel="shortcut icon" href="favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/application.css">
    </head>
<body>


<div class="siteContent">
<header class="header header-admin">
    <div class="container header-container">
        <div class="header-admin-logo">
            <div class="header-logo">
                <img src="../../images/logo.svg">
            </div>
        </div>
        <div class="header-admin-nav">
            <nav class="header-nav">
                <a href="#" class="header-nav-mobButton js-toggle" aria-label="Open Navigation" data-toggle=".header-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </nav>
            <div class="header-title">My requests</div>
            <nav class="header-nav header-menu clearfix">
                <ul>
                    <li class="active"><a href="#">personal data</a></li>
                    <li><a href="#">my policies</a></li>
                    <li><a href="#">my claims</a></li>
                    <li><a href="#">My circles</a></li>
                    <li><a href="#">my referral</a></li>
                    <li><a href="#">my invitations </a></li>
                    <li class="header-nav-action"><a href="#" class="btn btn-secondary btn-login">my profile</a></li>                      
                </ul>
            </nav>
        </div>
        <div class="hidden-xs header-admin-profile">
            <div class="header-profile">
                <div class="header-profile-name hidden-sm hidden-md">
                    <a href="#">Margaret Mead</a>
                </div>
                <div class="header-profile-userpic">
                    <a href="#"><img src="../../images/userpic.png"></a>
                </div>
                <div class="header-profile-link">
                    <a href="#"></a>
                </div>
                <div class="profile-links">
                    <ul>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Log-Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-creating-store">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <ul>
                        <li class="done">Basic information</li>
                        <li class="active">Policy builder</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>      
</header>



    <main>
<section class="siteSection siteSection--gray siteSection--noPad">
    <div class="container">
        <?php require('blocks/partials/breadcrumbs.html'); ?>
    </div>
</section>
<section class="siteSection siteSection--gray">
    <div class="container">
        <h2 class="u-text--center">Policy Builder</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#valid_from" aria-controls="valid_from" role="tab" data-toggle="tab">valid from</a></li>
                <li role="presentation"><a href="#valid_to" aria-controls="valid_to" role="tab" data-toggle="tab">valid to</a></li>
                <li role="presentation"><a href="#liability_limit" aria-controls="liability_limit" role="tab" data-toggle="tab"> liability limit</a></li>
                <li role="presentation"><a href="#policy_number" aria-controls="policy_number" role="tab" data-toggle="tab">policy number </a></li>
                <li role="presentation"><a href="#insured" aria-controls="insured" role="tab" data-toggle="tab">insured </a></li>
                <li role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">address </a></li>
                <li role="presentation"><a href="#postal_code" aria-controls="postal_code" role="tab" data-toggle="tab"> postal code</a></li>
                <li role="presentation"><a href="#province_state" aria-controls="province_state" role="tab" data-toggle="tab">province / state </a></li>
                <li role="presentation"><a href="#province" aria-controls="province" role="tab" data-toggle="tab"> province</a></li>
                <li role="presentation"><a href="#phone_number" aria-controls="phone_number" role="tab" data-toggle="tab">phone number </a></li>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="valid_from">
                        <div class="form-container">
                            <div class="add-field">
                                <div class="add-field-img">
                                    <img src="../../images/add-doc.png" alt="">
                                </div>
                                <div class="add-field-title">
                                    Add fields
                                </div>
                                <div class="add-field-text">
                                    Simply drag and drop elements from the left side
                                </div>
                            </div>
                        </div>
                        <div class="form-container">
                            <div class="clearfix">
                                <div class="pull-left"><a href="#" class="btn">back to previous step</a></div>
                                <div class="pull-right"><a href="#" class="btn btn-primary">create product</a></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="valid_to">valid_to</div>
                    <div role="tabpanel" class="tab-pane" id="liability_limit">liability limit</div>
                    <div role="tabpanel" class="tab-pane" id="policy_number">policy number</div>

                    <div role="tabpanel" class="tab-pane" id="insured">insured</div>
                    <div role="tabpanel" class="tab-pane" id="address">address</div>
                    <div role="tabpanel" class="tab-pane" id="postal_code">postal_code</div>
                    <div role="tabpanel" class="tab-pane" id="province_state">province / state</div>
                    <div role="tabpanel" class="tab-pane" id="province">province</div>
                    <div role="tabpanel" class="tab-pane" id="phone_number">phone_number</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

    </main>
</div>
    <footer class="footer">
        <div class="footer-search">
            <div class="container">
                <input type="search" placeholder="placeholder">
                <label>For example, <span>CAR INSURANCE, POLICY</span></label>
            </div>
        </div>
        <div class="footer-contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                        <div class="footer__title">
                            Main
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">blog </a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Insurance
                        </div>
                        <div class="footer__text">
                            <ul>
                                <li><a href="#">General Liability Insurance (CGL)</a></li>
                                <li><a href="#">Errors and Omissions Insurance (E&O)</a></li>
                                <li><a href="#">Professional Liability Insurance</a></li>
                                <li><a href="#">Directors and Officers Insurance (D&O)</a></li>
                                <li><a href="#">Cyber Liability Insurance</a></li>
                                <li><a href="#">Contents and Property Insurance</a></li>
                                <li><a href="#">Commercial Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="footer__title">
                            Contact
                        </div>
                        <div class="footer__contact">
                            sales@peercircle.com
                            Quebek, 32 street, 56
                        </div>
                        <div class="footer__contact">
                            9476 97847 8465 34
                        </div>
                        <img src="../../images/logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/vendor/jquery-3.1.0.min.js"></script>
    <script src="../../js/vendor.min.js"></script>
    <script src="../../js/app.min.js"></script>

    </body>
</html>